{% extends './home/base.html.twig' %}

{%block titre%} Autres services {%endblock%}
{%block css%}{%endblock%}

{%block body%}
    <div class="container" id="page">
       
       <div class="special-container m-1">
         <div class="container-fluid small guide-consulaire ">
            <div class="breadcrumbs container" style="text-align:left">
                <div class="row">
                    <div class="col-10">
                        <ul class="list" style="color:grey">
                            <li class="list-inline-item">
                              <a class="goto-link" href="/">Accueil ></a>
                                <svg class="icon list__icon" width="12" height="12">
                                  <use xlink:href="#icon-arrow-down"></use>
                                </svg>
                            </li>
                            <li class="list-inline-item">
                              <a href="{{path('app_servicesauxsenegalais') }}">Services aux Sénégalais ></a>
                                <svg class="icon list__icon" width="12" height="12">
                                  <use xlink:href="#icon-arrow-down"></use>
                                </svg>
                            </li>
                            <li class="list-inline-item">
                               Autres services
                             </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="container-inner">
    <div class="main">
        <div class="main-inner group">
            <main class="content" id="content">
                <div class="example-wrapper">
                    <!-- ======= Our Services Section ======= -->
                        <section id="services" class="services sections-bg">
                        <div class="container" data-aos="fade-up">
                            <div class="section-header">
                               <h2>Autres services</h2>
                            </div>
<!============================================================================================================================================================================>
<div class="row gy-4" data-aos="fade-up" data-aos-delay="100">

  <div class="col-xl-3 col-md-5">
            <a href="{{path('app_legalisation_de_documents')}}">
              <div class="service-item position-relative">
                <h3>Légalisation documents <i class="bi bi-box-arrow-up-right"></i></h3>
                <ul>
                  <li>Copies certifiées conformes</li>
                  <li>Certifications matérielles</li>
                  <li>Actes Notariés</li>
                </ul>
              </div>
            </a>
          </div><!-- End Service Item -->
  <div class="col-xl-3 col-md-5">
      <div class="service-item position-relative">
        <h3>Certificat de Concordance</h3>
        <h6 style="text-decoration:underline; color:red">Pièces à fournir : </h6>
        <ul>
          <li>Documents sur lesquels la concordance est sollicitée;</li>
          <li>Un extrait de naissance sénégalais ;</li>
        </ul>
      </div>
    </a>
  </div>
  <div class="col-xl-3 col-md-5">
      <div class="service-item position-relative">
        <h3>Attestation de nationalité</h3>
        <h6 style="text-decoration:underline; color:red">Pièces à fournir : </h6>
        <ul>
          <li>Un extrait de naissance du mineur transcrit au Consulat <strong>+</strong> pièce d'identité
            du père</li>
        </ul>
      </div>
    </a>
  </div>
  <div class="col-xl-3 col-md-5">
      <div class="service-item position-relative">
        <h3>Etat de famille</h3>
        <h6 style="text-decoration:underline; color:red">Pièces à fournir : </h6>
        <ul>
          <li>Livret de famille <strong>+</strong> CNI des 2 époux <strong>+</strong>
            Un extrait pour chaque enfant;</li>
          <li>Un certificat de vie collectif.</li>
        </ul>
      </div>
    </a>
  </div>
  <div class="col-xl-3 col-md-5">
      <div class="service-item position-relative">
        <h3>Certificat de vie</h3>
        <h6 style="text-decoration:underline; color:red">Pièces à fournir : </h6>
        <ul>
          <li>Pièce d'identité du demandeur <br> <strong>Présence obligatoire</strong></li>
        </ul>
      </div>
    </a>
  </div>
  <div class="col-xl-3 col-md-5">
      <div class="service-item position-relative">
        <h3>Attestation PACS</h3>
        <h6 style="text-decoration:underline; color:red">Pièces à fournir : </h6>
        <ul>
          <li>Pièce d'identité sénégalaise(CNI ou Passeport).</li>
        </ul>
      </div>
    </a>
  </div>
    
</div>



 
<!============================================================================================================================================================================>
</main>
     {%endblock%}

                       

