{% extends 'home/base.html.twig' %}

{%block titre%} Autres Documents {%endblock%}
{%block css%}{%endblock%}

{%block body%}
    <div class="container" id="page">
        <div class="container-inner">
            <div class="main">
                <div class="main-inner group">
                    <main class="content" id="content">
                        <div class="page-title hu-pad group">
                            <br><br><h1>Autres Documents</h1>
                        </div>
                        <div class="hu-pad group">     
                        <article class="group post-35 page type-page status-publish hentry">    
                            <div class="entry themeform">                           
                                <br><h4><strong>Certificat de Concordance</strong></h4>                             
                                <ul>
                                    <li>Documents sur lesquels la concordance est sollicitée;</li>
                                    <li>Un extrait de naissance sénégalais ;</li>                                                                   
                                </ul>

                                <br><h4><strong> Attestation de nationalité </h4></strong>
                                <ul>
                                    <li> Un extrait de naissance du mineur transcrit au Consulat <strong>+</strong> pièce d'identité
                                    du père </li> 
                                </ul>

                                <br><h4><strong>Etat de famille </h4></strong>
                                <ul>
                                    <li>Livret de famille <strong>+</strong> CNI des 2 époux <strong>+</strong>
                                        Un extrait pour chaque enfant;
                                    </li>
                                    <li>Un certificat de vie collectif.</li>
                                </ul>

                                <br><h4><strong> Certificat de vie</h4></strong>
                                <ul>
                                    <li>Pièce d'identité du demandeur <br> <strong>Présence obligatoire</strong> </li>
                                </ul>

                                <br><h4><strong>Attestation PACS </h4></strong>
                                <ul>
                                    <li>Pièce d'identité sénégalaise(CNI ou Passeport). </li>
                                </ul>

                            <nav class="pagination group">
                                    </nav><!--/.pagination-->
                            <div class="clear"></div>
                            </div><!--/.entry-->
                            </article>
                      </div><!--/.hu-pad-->
                    </main><!--/.content-->
                </div><!--/.main-inner-->
            </div><!--/.main-->
        </div><!--/.container-inner-->
    </div><!--/.container-->

{%block scripts%}{%endblock%}
{%endblock%}
