<!DOCTYPE html>
<html class="no-js" lang="fr-FR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <style id="wfc-base-style" type="text/css"></style>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <title>Accueil | Prestations Consulaires</title>
  <link rel="stylesheet" media="all" href="/sites/default/files/css/css_1fAzLFFcZLyvGMImxvYpIXaeylX99DI1nmvZOTOrtmc.css+css_x2QXJvyrdWNnS4g3Q_SwfGCHTPdPnTffDYak94rsNRc.css.pagespeed.cc.EMwClhu7P8.css"/>
  <script type="text/javascript">if(msieversion()<10){window.location.replace("/browser-update.html");}if(isChrome()&&isChrome()<49){window.location.replace("/browser-update.html");}function msieversion(){var ua=window.navigator.userAgent;var msie=ua.indexOf("MSIE ");if(msie>0){return parseInt(ua.substring(msie+5,ua.indexOf(".",msie)));}}function isChrome(){var myNav=navigator.userAgent.match(/Chrome\/(\S+)/);return(myNav)?parseInt(myNav[1]):false;}</script>

</head>

<body class="path-frontpage page-node-type-homepage">
  {% include 'navbar.html.twig' %}
  {% block body %}
  <div class="container-lg">
   <!-- Image Background and Title -->
   <div class="home-intro home-index" style="background-image: url("C:\Users\fatou\Downloads\telechargement.jpg")">
    
    <div style="text-align:'center'; font-size:3em; background"> Vous avez besoin d'une prestation consulaire ? </div>
    <div class="row services justify-content-md-center" style="pointer-events: none;">
        <div class="col-md-12">
            <div class="service-card" style="text-align: center; box-shadow: none; min-height: 0px;max-height: 100px;">
                <h2 style="font-family: 'Roboto-slabregular'; font-size: 2.2em;">Prestations consulaires</h2>
            </div>
        </div>
    </div>
</div>    
    <!-- Family benefits Block -->
          
<div class="special-container m-5">
    <div class="card-deck" style="height:30">
     <div class="card">
     <img class="card-img-top" src="https://www.consulat.ma/sites/default/files/2018-08/passport_0.png" alt="Services aux Sénégalais">
     <div class="card-body">
      <h5 class="card-title">Services aux Sénégalais</h5>
      <p class="card-text">Documents de voyages, Etat-Civil , CNI, Immatriculation, Légalisation,...</p>
      <a class="goto-link" href="{{ path('app_servicesauxsenegalais') }}">Consulter-></a>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.musicinafrica.net/sites/default/files/images/article/201412/visa-senegal.jpg" alt="Services aux Etrangers">
    <div class="card-body">
      <h5 class="card-title">Services aux Etrangers</h5>
      <p class="card-text">Demande de visa</p>
      <a class="goto-link" href="demande-de-visa" title="Services aux ETRANGERS">Consulter-></a>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.ch-sudgironde.fr/wp-content/uploads/2021/09/RDV-EN-LIGNE-carte-d-identite-et-passeport_image_600x285.jpg" alt="Prendre RDV">
    <div class="card-body">
      <h5 class="card-title">Prendre RDV avec le Consulat</h5>
      <p class="card-text">Système de demande des Rendez-vous consulaire en ligne</p>
      <a class="goto-link" href="{{path('app_prisederdv')}}" title="Prendre RDV">Consulter-></a>

    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="https://www.ocoeurdepassy.com/wp-content/uploads/2015/08/Gor%C3%A9e-MaisonEsclavesweb.jpg" alt="Visitez le Sénégal">
    <div class="card-body">
      <h5 class="card-title">Visitez le Sénégal</h5>
      <p class="card-text"></p>
      <a class="goto-link" href="https://www.visitezlesenegal.com/" title="Visitez le Sénégal">Consulter-></a>

    </div>
  </div>

</div>

<!-- ---------------------------------------------------- -->

<div class="separator"></div>
        <!-- third Headline -->
<div class="headline">
    <div class="headline-wrapper" style="text-align: center;">
        <h2>Infos consulaires</h2>
        Restez informé des dernières actualités et activités consulaires  
    </div>
</div>
<div class="container p-0 my-2 maeci--aceuil__block">
    <div class="bloc-items c-card-slider owl-carousel px-md-1 owl-theme">
                <!-- Card -->
    </div>
    <div class="card-slider-footer">
      <a href="infos-consulaires" class="card-footer-btn">Voir tout</a>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/14273d579a.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
{% endblock %}

</body>
  {% include 'footer.html.twig' %}

      
</html>