 <header id="header" class="specific-mobile-menu-on one-mobile-menu mobile_menu header-ads-desktop  topbar-transparent has-header-img">
        <nav class="nav-container group mobile-menu mobile-sticky " id="nav-mobile" data-menu-id="header-1">
  <div class="mobile-title-logo-in-header"></div>
        
                    <!-- <div class="ham__navbar-toggler collapsed" aria-expanded="false">
          <div class="ham__navbar-span-wrapper">
            <span class="ham-toggler-menu__span"></span>
          </div>
        </div> -->
        <button class="ham__navbar-toggler-two collapsed" title="Menu" aria-expanded="false">
          <span class="ham__navbar-span-wrapper">
            <span class="line line-1"></span>
            <span class="line line-2"></span>
            <span class="line line-3"></span>
          </span>
        </button>
            
      <div class="nav-text"></div>
      <div class="nav-wrap container">
                  <ul class="nav container-inner group mobile-search">
                            <li>
                  <form role="search" method="get" class="search-form" action="https://www.consulsen-marseille.org/">
				<label>
					<span class="screen-reader-text">Rechercher :</span>
					<input type="search" class="search-field" placeholder="Rechercher…" value="" name="s" />
				</label>
				<input type="submit" class="search-submit" value="Rechercher" />
			</form>                </li>
                      </ul>
                <ul id="menu-principale" class="nav container-inner group"><li id="menu-item-13" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-13"><a href="http://consulsen-paris.gouv.sn/" aria-current="page">ACCUEIL</a></li>
<li id="menu-item-14" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-14"><a href="#">LE CONSULAT</a>
<ul class="sub-menu">
	<li id="menu-item-89" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89"><a href="https://www.consulsen-marseille.org/le-consul-general/">LE CONSUL GÉNÉRAL</a></li>
	<li id="menu-item-85" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-85"><a href="https://www.consulsen-marseille.org/role-et-competence/">RÔLE ET COMPÉTENCE</a></li>
	<li id="menu-item-88" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-88"><a href="https://www.consulsen-marseille.org/nous-contacter/">NOUS CONTACTER</a></li>
</ul>
</li>
<li id="menu-item-15" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-15"><a href="#">SERVICES AUX SÉNÉGALAIS</a>
<ul class="sub-menu">
	<li id="menu-item-65" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-65"><a href="#">DOCUMENTS DE VOYAGE</a>
	<ul class="sub-menu">
		<li id="menu-item-83" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83"><a href="https://www.consulsen-marseille.org/demande-de-passeport/">PREMIÈRE DEMANDE DE PASSEPORT</a></li>
		<li id="menu-item-84" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84"><a href="https://www.consulsen-marseille.org/renouvellement-de-passeport/">RENOUVELLEMENT DE PASSEPORT</a></li>
		<li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86"><a href="https://www.consulsen-marseille.org/sauf-conduit/">SAUF-CONDUIT</a></li>
	</ul>
</li>
	<li id="menu-item-66" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-66"><a href="#">ÉTAT CIVIL</a>
	<ul class="sub-menu">
		<li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87"><a href="https://www.consulsen-marseille.org/carte-consulaire/">CARTE CONSULAIRE</a></li>
		<li id="menu-item-79" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a href="https://www.consulsen-marseille.org/certificat-de-coutume/">CERTIFICAT DE COUTUME</a></li>
		<li id="menu-item-78" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78"><a href="https://www.consulsen-marseille.org/transcription-dactes-detat-cvil/">TRANSCRIPTION D’ACTES D’ÉTAT CIVIL</a></li>
		<li id="menu-item-76" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76"><a href="https://www.consulsen-marseille.org/certificat-de-demenagement/">CERTIFICAT DE DÉMÉNAGEMENT</a></li>
		<li id="menu-item-77" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77"><a href="https://www.consulsen-marseille.org/fiche-individuelle-detat-civil/">FICHE INDIVIDUELLE D’ETAT CIVIL</a></li>
		<li id="menu-item-74" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-74"><a href="https://www.consulsen-marseille.org/attestation-sur-lhonneur/">ATTESTATION SUR L’HONNEUR</a></li>
		<li id="menu-item-131" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-131"><a href="https://www.consulsen-marseille.org/attestation-pacte/">ATTESTATION POUR SOUSCRIRE UN PACTE CIVIL DE SOLIDARITÉ</a></li>
	</ul>
</li>
	<li id="menu-item-67" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-67"><a href="#">CARTE D&#8217;IDENTITÉ ET IMMATRICULATION</a>
	<ul class="sub-menu">
		<li id="menu-item-82" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-82"><a href="https://www.consulsen-marseille.org/demande-dimmatriculation/">DEMANDE D’IMMATRICULATION</a></li>
		<li id="menu-item-81" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-81"><a href="https://www.consulsen-marseille.org/demande-de-carte-didentite/">DEMANDE DE CARTE D’IDENTITÉ</a></li>
		<li id="menu-item-80" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80"><a href="https://www.consulsen-marseille.org/retrait-de-carte-didentite/">RETRAIT DE CARTE D’IDENTITÉ</a></li>
	</ul>
</li>
	<li id="menu-item-68" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-68"><a href="#">AUTRES SERVICES</a>
	<ul class="sub-menu">
		<li id="menu-item-71" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71"><a href="https://www.consulsen-marseille.org/service-juridique/">SERVICE JURIDIQUE</a></li>
		<li id="menu-item-72" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-72"><a href="https://www.consulsen-marseille.org/service-social/">SERVICE SOCIAL</a></li>
		<li id="menu-item-73" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73"><a href="https://www.consulsen-marseille.org/legalisation/">LÉGALISATION</a></li>
		<li id="menu-item-70" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70"><a href="https://www.consulsen-marseille.org/allocations-familiales/">ALLOCATIONS FAMILIALES</a></li>
		<li id="menu-item-173" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173"><a href="https://www.consulsen-marseille.org/service-associations/">SERVICE DES ASSOCIATIONS</a></li>
	</ul>
</li>
</ul>
</li>
<li id="menu-item-16" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16"><a href="#">SERVICES AUX ÉTRANGERS</a>
<ul class="sub-menu">
	<li id="menu-item-117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a href="https://www.consulsen-marseille.org/demande-de-visa/">DEMANDE DE VISA</a></li>
</ul>
</li>
<li id="menu-item-490" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-490"><a href="https://www.consulsen-marseille.org/annuaire-consulaire/">ANNUAIRE CONSULAIRE</a></li>
<li id="menu-item-69" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69"><a href="https://www.consulsen-marseille.org/faqs/">FAQ</a></li>
<li id="menu-item-19" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19"><a href="https://prendrerdv.espacerendezvous.com/consulsen">☑ PRENDRE RDV</a></li>
</ul>      </div>
</nav><!--/#nav-topbar-->  
        <nav class="nav-container group desktop-menu desktop-sticky " id="nav-topbar" data-menu-id="header-2">
    <div class="nav-text"></div>
  <div class="topbar-toggle-down">
    <i class="fas fa-angle-double-down" aria-hidden="true" data-toggle="down" title="Expand menu"></i>
    <i class="fas fa-angle-double-up" aria-hidden="true" data-toggle="up" title="Collapse menu"></i>
  </div>
  <div class="nav-wrap container">
    <ul id="menu-menu_haut" class="nav container-inner group"><li id="menu-item-8" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-8"><a href="http://consulsen-paris.gouv.sn/" aria-current="page">PARIS</a></li>
<li id="menu-item-9" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9"><a href="#">AMBASSADE</a></li>
<li id="menu-item-10" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10"><a href="http://consulsen-bordeaux.gouv.sn">BORDEAUX</a></li>
<li id="menu-item-11" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11"><a href="#">LYON</a></li>
<li id="menu-item-12" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12"><a href="#">MARSEILLE</a></li>
</ul>  </div>
      <div id="topbar-header-search" class="container">
      <div class="container-inner">
        <button class="toggle-search"><i class="fas fa-search"></i></button>
        <div class="search-expand">
          <div class="search-expand-inner"><form role="search" method="get" class="search-form" action="https://www.consulsen-marseille.org/">
				<label>
					<span class="screen-reader-text">Rechercher :</span>
					<input type="search" class="search-field" placeholder="Rechercher…" value="" name="s" />
				</label>
				<input type="submit" class="search-submit" value="Rechercher" />
			</form></div>
        </div>
      </div><!--/.container-inner-->
    </div><!--/.container-->
  
</nav><!--/#nav-topbar-->  
  <div class="container group">
        <div class="container-inner">

                <div id="header-image-wrap">
              <div class="group hu-pad central-header-zone">
                                                  </div>

              <a href="https://www.consulsen-marseille.org/" rel="home"><img src="https://www.consulsen-marseille.org/wp-content/uploads/2022/10/Paris6.png" width="1308" height="140" alt="" class="new-site-image" srcset="https://www.consulsen-marseille.org/wp-content/uploads/2022/10/Paris6.png 1308w, https://www.consulsen-marseille.org/wp-content/uploads/2022/10/Paris6-300x32.png 300w, https://www.consulsen-marseille.org/wp-content/uploads/2022/10/Paris6-1024x110.png 1024w, https://www.consulsen-marseille.org/wp-content/uploads/2022/10/Paris6-768x82.png 768w, https://www.consulsen-marseille.org/wp-content/uploads/2022/10/Paris6-720x77.png 720w, https://www.consulsen-marseille.org/wp-content/uploads/2022/10/Paris6-520x56.png 520w, https://www.consulsen-marseille.org/wp-content/uploads/2022/10/Paris6-320x34.png 320w" sizes="(max-width: 1308px) 100vw, 1308px" /></a>          </div>
      
                <nav class="nav-container group desktop-menu " id="nav-header" data-menu-id="header-3">
    <div class="nav-text"><!-- put your mobile menu text here --></div>

  <div class="nav-wrap container">
        <ul id="menu-principale-1" class="nav container-inner group"><li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-13"><a href="http://consulsen-paris.gouv.sn/" aria-current="page">ACCUEIL</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-14"><a href="#">LE CONSULAT</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89"><a href="https://www.consulsen-marseille.org/le-consul-general/">LE CONSUL GÉNÉRAL</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-85"><a href="https://www.consulsen-marseille.org/role-et-competence/">RÔLE ET COMPÉTENCE</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-88"><a href="https://www.consulsen-marseille.org/nous-contacter/">NOUS CONTACTER</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-15"><a href="#">SERVICES AUX SÉNÉGALAIS</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-65"><a href="#">DOCUMENTS DE VOYAGE</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83"><a href="https://www.consulsen-marseille.org/demande-de-passeport/">PREMIÈRE DEMANDE DE PASSEPORT</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-84"><a href="https://www.consulsen-marseille.org/renouvellement-de-passeport/">RENOUVELLEMENT DE PASSEPORT</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86"><a href="https://www.consulsen-marseille.org/sauf-conduit/">SAUF-CONDUIT</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-66"><a href="#">ÉTAT CIVIL</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87"><a href="https://www.consulsen-marseille.org/carte-consulaire/">CARTE CONSULAIRE</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-79"><a href="https://www.consulsen-marseille.org/certificat-de-coutume/">CERTIFICAT DE COUTUME</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78"><a href="https://www.consulsen-marseille.org/transcription-dactes-detat-cvil/">TRANSCRIPTION D’ACTES D’ÉTAT CIVIL</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-76"><a href="https://www.consulsen-marseille.org/certificat-de-demenagement/">CERTIFICAT DE DÉMÉNAGEMENT</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-77"><a href="https://www.consulsen-marseille.org/fiche-individuelle-detat-civil/">FICHE INDIVIDUELLE D’ETAT CIVIL</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-74"><a href="https://www.consulsen-marseille.org/attestation-sur-lhonneur/">ATTESTATION SUR L’HONNEUR</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-131"><a href="https://www.consulsen-marseille.org/attestation-pacte/">ATTESTATION POUR SOUSCRIRE UN PACTE CIVIL DE SOLIDARITÉ</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-67"><a href="#">CARTE D&#8217;IDENTITÉ ET IMMATRICULATION</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-82"><a href="https://www.consulsen-marseille.org/demande-dimmatriculation/">DEMANDE D’IMMATRICULATION</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-81"><a href="https://www.consulsen-marseille.org/demande-de-carte-didentite/">DEMANDE DE CARTE D’IDENTITÉ</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-80"><a href="https://www.consulsen-marseille.org/retrait-de-carte-didentite/">RETRAIT DE CARTE D’IDENTITÉ</a></li>
	</ul>
</li>
	<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-68"><a href="#">AUTRES SERVICES</a>
	<ul class="sub-menu">
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-71"><a href="https://www.consulsen-marseille.org/service-juridique/">SERVICE JURIDIQUE</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-72"><a href="https://www.consulsen-marseille.org/service-social/">SERVICE SOCIAL</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-73"><a href="https://www.consulsen-marseille.org/legalisation/">LÉGALISATION</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-70"><a href="https://www.consulsen-marseille.org/allocations-familiales/">ALLOCATIONS FAMILIALES</a></li>
		<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-173"><a href="https://www.consulsen-marseille.org/service-associations/">SERVICE DES ASSOCIATIONS</a></li>
	</ul>
</li>
</ul>
</li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16"><a href="#">SERVICES AUX ÉTRANGERS</a>
<ul class="sub-menu">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117"><a href="https://www.consulsen-marseille.org/demande-de-visa/">DEMANDE DE VISA</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-490"><a href="https://www.consulsen-marseille.org/annuaire-consulaire/">ANNUAIRE CONSULAIRE</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-69"><a href="https://www.consulsen-marseille.org/faqs/">FAQ</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-19"><a href="https://prendrerdv.espacerendezvous.com/consulsen">☑ PRENDRE RDV</a></li>
</ul>  </div>
</nav><!--/#nav-header-->      
    </div><!--/.container-inner-->
      </div><!--/.container-->

</header><!--/#header-->