{% extends 'base.html.twig' %}

{%block titre%} Carte Consulaire {%endblock%}
{%block css%}{%endblock%}

{%block body%}
    <div class="container" id="page">
        <div class="container-inner">
            <div class="main">
                <div class="main-inner group">
                    <main class="content" id="content">
                        <div class="page-title hu-pad group">
                            <h1>Carte Consulaire</h1>
                        </div>
                        <div class="hu-pad group">     
                            <article class="group post-33 page type-page status-publish hentry">   
                                <div class="entry themeform">                                        
                                    <p><strong>DOCUMENTS À FOURNIR</strong></p>
                                     <p><h4>Pour le majeur</h4></p>
                                        <ul>
                                            <li>Carte d'Identité Sénégalaise (Copie Recto Verso) OU </li>
                                            <li>Passeport Sénégalais (Copie des deux premières pages)&nbsp;<strong>en cours de validité + Extrait de naissance</strong></li>
                                            <li>4 Photos d'Identité&nbsp;<strong>Récentes</strong>,&nbsp;<strong>Identiques&nbsp;</strong>&nbsp;.</li>
                                            <li>Justificatif de domicile.</li>                               
                                        </ul>
                                        <p><h4>Pour le mineur</h4></p>
                                        <ul>
                                            <li> Extrait de naissance ou CNI</li>
                                            <li>Pièce d'Identité nationale en cours de validité de l'un des parents </li>
                                            <li>4 Photos d'Identité&nbsp.</li>
                                            <li>Justificatif de domicile.</li>                               
                                        </ul>
                                    <p><strong>NB</strong>:&nbsp;</p>
                                    <p>Le titulaire de la carte consulaire doit en cas de retour définitif au sénégal retourner cette carte
                                    au Consulat. Il peut bénéficier, s'il le désire d'un certificat de déménagement qui lui permettra de rapatrier
                                    tous ses effets personnels afin de bénéficier de franchises douanières. </p>
                                    <nav class="pagination group">
                                                </nav><!--/.pagination-->
                                        <div class="clear"></div>
                                        </div><!--/.entry-->
                                    </article>
                      </div><!--/.hu-pad-->
                    </main><!--/.content-->
                </div><!--/.main-inner-->
            </div><!--/.main-->
        </div><!--/.container-inner-->
    </div><!--/.container-->

    <footer id="footer"> </footer><!--/#footer-->

{%block scripts%}{%endblock%}
{%endblock%}
