{% extends './home/base.html.twig' %}
 {% block titre %}Carte Consulaire {% endblock %}
  {% block css %}{% endblock %}
      {% block body %}

<body class="path-frontpage page-node-type-homepage">
    <div class="container" data-aos="fade-up">

    <div id="attachements1" class="py-2 maeci__attachements">
                <div class="container p-0 maeci-detailPAttachement">
            <!-- Section -->
            <div class="section-header">
          <h2>Juridiction du Consulat Général</h2>
        </div>
            <div class="block-article">
                -Alpes-de-Haute-Provence (04),<br>
                -Alpes-Maritimes (06),<br>
                 -Bouches-du-Rhône (13),<br>
                 -Hérault (34),<br>
                 -Var (83)
                 
    </div>
    <hr width="40%" style="display:block;border-bottom:2px solid grey !important;border-top:none !important">

    <div id="attachements2" class="py-2 maeci__attachements grey-bg ">
                <div class="container p-0 maeci-detailPAttachement">
            <!-- Section -->
            <div class="section-header">
          <h2>Missions du Consulat Général</h2>
        </div>
            <div class="block-article">
                 <div class="block-article">
                 Les missions du Consulat général du Sénégal à Marseille, conformément à l’article 5 
                 de la Convention de Vienne de 1963 sur les relations consulaires consistent à :<br><br></div>
                
                <div>
                 Protéger, dans toute notre juridiction, les intérêts du Sénégal et de ses ressortissants, personnes physiques et morales,
                  dans les limites admises par le droit international;
                 <br>
                 Favoriser le développement de relations commerciales, économiques, culturelles et scientifique 
                  entre le Sénégal et toute notre juridiction et promouvoir des relations amicales entre les deux dans
                   le cadre des dispositions de la Convention citée ci-dessus;
                   <br>
                 S’informer, par tous les moyens licites, des conditions et de l’évolution de la vie commerciale,
                  économique, culturelle et scientifique de l’Etat de résidence, faire rapport à ce sujet au gouvernement
                   de l’Etat d’envoi et donner des renseignements aux personnes intéressées;<br><br><br>
                 Délivrer des passeports et des documents de voyage aux ressortissants sénégalais, ainsi que des visas
                  et documents appropriés aux personnes qui désirent se rendre au Sénégal;<br>
                 Prêter secours et assistance aux ressortissants, personnes physiques et morales, du Sénégal;<br>
                 Agir en qualité de notaire et d’officier d’état civil et exercer des fonctions similaires, ainsi que
                  certaines fonctions d’ordre administratif, pour autant que les lois et règlements de la France ne
                   s’y opposent pas;<br><br><br>
                 Exercer toutes autres fonctions confiées à un poste consulaire par le Sénégal que n’interdisent pas les 
                 lois et règlements de la France ou auxquelles l’Etat français ne s’oppose pas ou qui sont mentionnées
                  dans les accords internationaux en vigueur entre le Sénégal et la France.<br><br>
                 </div>
    </div>

            </div>

        </div>

        
    </div>
    <hr width="40%" style="display:block;border-bottom:2px solid grey !important;
border-top:none !important">

    <footer id="footer"> </footer><!--/#footer-->

{%block scripts%}{%endblock%}
{%endblock%}
