{% extends 'base.html.twig' %}

{%block titre%} Transcription de Naissance {%endblock%}
{%block css%}{%endblock%}

{%block body%}
    <div class="container" id="page">
        <div class="container-inner">
            <div class="main">
                <div class="main-inner group">
                    <main class="content" id="content">
                        <div class="page-title hu-pad group">
                            <h1>Transcription de Naissance</h1>
                        </div>
                        <div class="hu-pad group">     
                        <article class="group post-35 page type-page status-publish hentry">    
                            <div class="entry themeform">                           
                                <p><strong>DOCUMENTS À FOURNIR</strong></p>
                                <ul>
                                    <li>2 Copies intégrales de l'acte de naissance datant de moins de 3 mois de l'enfant;</li>
                                    <li>Une pièce d'identité sénégalais du père ou de la mère;</li>                                                                   
                                </ul>
                                <p><strong>NB</strong>:&nbsp;</p>
                            <nav class="pagination group">
                                    </nav><!--/.pagination-->
                            <div class="clear"></div>
                            </div><!--/.entry-->
                            </article>
                      </div><!--/.hu-pad-->
                    </main><!--/.content-->
                </div><!--/.main-inner-->
            </div><!--/.main-->
        </div><!--/.container-inner-->
    </div><!--/.container-->

    <footer id="footer"> </footer><!--/#footer-->

{%block scripts%}{%endblock%}
{%endblock%}
