{% extends './home/base.html.twig' %}
 {% block titre %}Carte Consulaire {% endblock %}
  {% block css %}{% endblock %}
      {% block body %}

<body class="path-frontpage page-node-type-homepage">
    <div class="special-container m-5">
        
                      
                </div>
            </div>
        </div>
<br><br>

    <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>DIFFÉRENTES QUESTIONS QUE VOUS POSEZ SOUVENT:</h2>
        </div>
        
        <!-- ==================================================================================  -->

        <!-- benefit sections -->

    <div id="attachements2" class="py-2 maeci__attachements grey-bg ">
                <div class="container p-0 maeci-detailPAttachement">
            <!-- Section -->
            <div class="block-article">
              <div class="section-header">
                     <h2>MARIAGE</h2>
                    
                  <p><strong>La mairie me demande un certificat de capacité à mariage ?</strong><br>le certificat de capacité à mariage également appelé certificat de coutume au Consulat, est délivré par le service état civil voir ici <br>
                  <strong>Puis-je obtenir le certificat de célibat au Consulat ?<br>
                  Le certificat de célibat est délivré uniquement par votre de lieu de naissance.<br></p>
                    <div class="section-header">
                        <h2>SÉNÉGALAIS NÉ AU SÉNÉGAL</h2>                  
                       .<br>                        
                        </div>     
                    <div class="section-header">
                        <h2>POUR L’ENFANT ÂGÉ DE 0 À 5 ANS</h2>                  
                        .<br>                        
                    </div>                        


                    </div>

                </div>

            </div>

        </div>

        
    </div>
    <hr width="40%" style="display:block;border-bottom:2px solid grey !important;
border-top:none !important">

    <footer id="footer"> </footer><!--/#footer-->

{%block scripts%}{%endblock%}
{%endblock%}
