{% extends './home/base.html.twig' %}
 {% block titre %}Carte Consulaire {% endblock %}
  {% block css %}{% endblock %}
      {% block body %}

<body class="path-frontpage page-node-type-homepage">
    <div class="special-container m-5">
        
                      
                </div>
            </div>
        </div>
<br><br>

    <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>DIFFÉRENTES QUESTIONS QUE VOUS POSEZ SOUVENT:</h2>
        </div>
        
        <!-- ==================================================================================  -->

        <!-- benefit sections -->

    <div id="attachements2" class="py-2 maeci__attachements grey-bg ">
                <div class="container p-0 maeci-detailPAttachement">
            <!-- Section -->
            <div class="block-article">
              <div class="section-header">
                     <h2>MARIAGE</h2>
                    
                  <p><strong>La mairie me demande un certificat de capacité à mariage ?</strong><br>le certificat de capacité à mariage également appelé certificat de coutume au Consulat, est délivré par le service état civil voir ici <br>
                  <strong>Puis-je obtenir le certificat de célibat au Consulat ?</srong><br></p>
                  <p>Le certificat de célibat est délivré uniquement par votre de lieu de naissance.<br></p><br>
                    <div class="section-header">
                        <h2>NATIONALITÉ SÉNÉGALAISE</h2>      
                        <strong>Mes deux parents sont de nationalité sénégalaise, que dois-je faire pour en bénéficier ?</strong><br>
                        <p>Cela se fait en deux étapes :<br>

–  Il faut demander la transcription de votre acte de naissance français. Pour ce faire vous venez au Consulat avec deux copies intégrales de votre acte de naissance français plus la pièce d’identité sénégalaise en cours de validité d’un de vos parents. Le jour même deux actes de naissances transcrit vous sont remis. Sachez que vous pouvez également faire cette démarche par correspondance. Il suffit pour cela d’envoyer les documents cités ci-dessus plus une enveloppe timbrée à votre adresse.

  <br>–  Prendre RDV pour faire une demande de carte nationale d’identité sénégalaise ou une immatriculation si l’enfant à moins de 5 ans. 

Une fois la carte nationale d’identité en votre possession vous prenez RDV pour faire un passeport biométrique.</p>                  
                        </div>     
                    <div class="section-header">
                        <h2>Je veux donner ma nationalité sénégalaise à mon enfant ?</h2>   
                        <p>–  Il faut tout d’abord effectuer la transcription de l’acte de naissance de votre enfant (né en France) voir ici <br>

–  Si l’enfant à moins de 5 ans, il faut effectuer la demande d’immatriculation voir ici<br>

–  S’il a plus de 5 ans faire une demande de carte nationale d’identité voir ici<br>

–  Ensuite l’enfant peux avoir un passeport sénégalais voir ici                </p>                    
                    </div>      
                    <div class="section-header">
                        <h2>Mon épouse ou époux est de nationalité sénégalaise, comment puis-je en bénéficier ?</h2>
                        <p>Pour acquérir la nationalité sénégalaise via le mariage il faut se reprocher du Tribunal de Dakar, seul habilité à statuer sur ce type de demande</p></div>
                    <div class="section-header">
                        <h2>CARTE NATIONALE D’IDENTITE</h2>
                        <strong>J’ai procédé à ma demande de carte nationale d’identité depuis quelques jours et j’attends toujours ma carte. Est-ce normal ?<strong>
                        <p>Sachez la carte nationale d’identité n’est pas confectionnée à Paris mais à Dakar. Il est nécessaire d’attendre 1 à 3 mois avant que votre carte ne soit disponible.</p>
                        </div>
                    </div>

                </div>

            </div>

        </div>

        
    </div>
    <hr width="40%" style="display:block;border-bottom:2px solid grey !important;
border-top:none !important">

    <footer id="footer"> </footer><!--/#footer-->

{%block scripts%}{%endblock%}
{%endblock%}
