{% extends 'base.html.twig' %}

{%block titre%} Legalisation de Documents {%endblock%}
{%block css%}{%endblock%}

{%block body%}
    <div class="container" id="page">
        <div class="container-inner">
            <div class="main">
                <div class="main-inner group">
                    <main class="content" id="content">
                        <div class="page-title hu-pad group">
                            <br><br><h1>Legalisation de Documents</h1>
                        </div>
                        <div class="hu-pad group">     
                        <article class="group post-35 page type-page status-publish hentry">    
                            <div class="entry themeform">                           
                                <br><h4><strong>Copies certifiées conformes</strong></h4>                             
                                <ul>
                                    <li>Originaux et Copies des documents à légaliser;</li>      
                                    <li>CNI ou Passeport du requérant</li>                                                              
                                </ul>

                                <br><h4><strong> Certifications matérielles </h4></strong>
                                <ul>
                                    <li>Documents à légaliser <strong>+</strong> Copies;
                                    </li> 
                                     <li>Passeport ou CNI <strong>+</strong> justificatifs.
                                    </li> 
                                </ul>

                                <br><h4><strong>Actes Notariés</h4></strong>
                                <ul>
                                    <li>Pièce d'identité ou Passeport</li>
                                    <li>
                                        Présence Obligatoire du réquérant;
                                    </li>
                                    <li><strong> L'Acte doit obligatoirement venir du mail du notaire </li>
                                </ul>                               

                            <nav class="pagination group">
                                    </nav><!--/.pagination-->
                            <div class="clear"></div>
                            </div><!--/.entry-->
                            </article>
                      </div><!--/.hu-pad-->
                    </main><!--/.content-->
                </div><!--/.main-inner-->
            </div><!--/.main-->
        </div><!--/.container-inner-->
    </div><!--/.container-->

{%block scripts%}{%endblock%}
{%endblock%}
