{% extends './home/base.html.twig' %}

    {%block titre%} RENOUVELLEMENT DE PASSEPORT {%endblock%}
   
    {%block css%}{%endblock%}
    


	{%block body%}
  
    <div class="container" id="page">
        <div class="container-inner">
            <div class="main">
                <div class="main-inner group">
                    <main class="content" id="content">
                        <div class="page-title hu-pad group">
                           <h1>RENOUVELLEMENT DE PASSEPORT</h1>
                        </div>
                        <div class="hu-pad group">     
                            <article class="group post-27 page type-page status-publish hentry">
                                <div class="entry themeform">
                                    <h3>
                                        <p><strong>1. Renouvellement de passeport expiré&nbsp;</strong></p>  
                                    </h3>                                  </h3>
                                    <ul>
                                        <li>Passeport expiré (Original + une copie)</li>
                                    </ul>
                                    <ul>
                                        <li>Carte nationale d’identité biométrique CEDEAO (Originale + une copie)</li>
                                        <li>Un justificatif de domicile (Facture EDF, quittance de loyer etc…)</li>
                                        <li>Un timbre de 30,50 euros (paiement sur place,&nbsp;<strong>en espèce ou par carte bancaire</strong>)</li>
                                    </ul>
                                    <p>Pour les enfants mineures, il faut absolument une autorisation&nbsp;<strong>signée et légalisée</strong>&nbsp;du père accompagnée de la copie de sa pièce d’identité ou de son passeport.</p>

                                    <p><strong>2. Renouvellement de passeport perdu&nbsp;</strong></p>
                                    <ul>
                                        <li>Certificat de perte délivrée par un commissariat de police</li>
                                        <li>Carte nationale d’identité biométrique CEDEAO (Originale + une copie)</li>
                                        <li>Un justificatif de domicile en France (Facture EDF, quittance de loyer etc…)</li>
                                        <li>Un timbre de 30,50 euros (paiement sur place,&nbsp;<strong>en espèce ou par carte bancaire</strong>)</li>
                                    </ul>

                                    <p><br>Pour les enfants mineures, il faut absolument une autorisation&nbsp;<strong>signée et légalisée</strong>&nbsp;du père accompagnée de la copie de sa pièce d’identité ou de son passeport.<br><br></p>
                                    <p><strong>3. Renouvellement de passeport détérioré&nbsp;</strong></p>
                                    <ul>
                                        <li>Passeport biométrique détérioré et carte nationale d’identité biométrique CEDEAO (Originale + une copie)</li>
                                        <li>Un justificatif de domicile en France (Facture EDF, quittance de loyer etc…)</li>
                                        <li>Un timbre de 30,50 euros (paiement sur place,&nbsp;<strong>en espèce ou par carte bancaire</strong>)</li>
                                    </ul>

                                    <p>Pour les enfants mineures, il faut absolument une autorisation&nbsp;<strong>signée et légalisée</strong>&nbsp;du père accompagnée de la copie de sa pièce d’identité ou de son passeport.<br><br>Veuillez télécharger le document d’autorisation parentale</p>

                                    <p><a href="/autorisation_parentale.pdf" target="_blank" rel="noreferrer noopener">AUTORISATION PARENTALE</a></p>

                                    <p>Coût&nbsp;: 30,50 € (paiement sur place,&nbsp;<strong>en espèce ou par carte bancaire</strong>)<br><strong>NB&nbsp;:</strong></p>

                                    <p>Pour le &nbsp;renouvellement de passeport biométrique détérioré ou de passeport biométrique perdu, une attention particulière requise par l’autorité de décision. Cela pourrait prendre du temps avant de prétendre à déposer une demande pour un nouveau passeport.</p>

                                    <p> La présence du signataire est obligatoire pour la légalisation de l&#8217;autorisation parentale.</p>
                                    
                                    <p><strong>NOTE&nbsp;:</strong></p>
                                    <p>Le délai de délivrance d’un passeport biométrique ordinaire 
                                        est en moyenne d'1 à 2 mois
                                        <br>Validité du passeport&nbsp;:<br>
                                        La validité du passeport biométrique est de 5 ans.
                                    </p>                
                    
                                    <nav class="pagination group"> </nav><!--/.pagination-->
                                    <div class="clear"> </div>
                                </div><!--/.entry-->
                            </article>
                        </div><!--/.hu-pad-->
                    </main><!--/.content-->
                </div><!--/.main-inner-->
            </div><!--/.main-->
        </div><!--/.container-inner-->
    </div><!--/.container-->

    <footer id="footer"> </footer><!--/#footer-->

{%block scripts%}{%endblock%}

{%endblock%}