{% extends 'base.html.twig' %}
 {% block titre %}Carte Consulaire {% endblock %}
  {% block css %}{% endblock %}
      {% block body %}

<body class="path-frontpage page-node-type-homepage">
    <div class="special-container m-5">
         <div class="container-fluid small guide-consulaire "><br><br>
            <div class="breadcrumbs container" style="text-align:left">
                <div class="row">
                    <div class="col-10">
                        <ul class="list" style="color:grey">
                            <li class="list-inline-item">
                              <a class="goto-link" href="/">Accueil ></a>
                                <svg class="icon list__icon" width="12" height="12">
                                  <use xlink:href="#icon-arrow-down"></use>
                                </svg>
                            </li>
                            <li class="list-inline-item">
                              <a href="{{path('app_demandedevisa') }}">Services aux Etrangers ></a>
                                <svg class="icon list__icon" width="12" height="12">
                                  <use xlink:href="#icon-arrow-down"></use>
                                </svg>
                            </li>
                            <li class="list-inline-item">
                                Demande de visa

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<br><br>

    <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Effectuer une demande de visa</h2>
        </div>
        
        <!-- ==================================================================================  -->

        <!-- benefit sections -->
            <hr width="40%" style="display:block;border-bottom:2px solid grey !important;border-top:none !important">

    <div id="attachements1" class="py-2 maeci__attachements">
                <div class="container p-0 maeci-detailPAttachement">
            <!-- Section -->
            <div class="block-article">
                <div class="row">
                    <div class="col-lg-3 block-article__img">
                        <div class="small-card">
                              <div>
                                  <img class="small-card__img ajust-big-img" src="{{asset('assets/img/infos.jpg')}}" alt="Infos" width=100px height=100px;">
                                  <h3 class="small-card__title">Infos</h3>
                              </div>
                      </div>
                    </div>
                    <div class="col-lg-9 block-article__text">
                        <br>Pour les réfugiés et les ressortissants des pays faisant partis de la catégorie C (consultation obligatoire du MINT), l’accord des autorités sénégalaises compétentes est à solliciter.                         
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr width="40%" style="display:block;border-bottom:2px solid grey !important;border-top:none !important">

    <div id="attachements2" class="py-2 maeci__attachements grey-bg ">
                <div class="container p-0 maeci-detailPAttachement">
            <!-- Section -->
            <div class="block-article">
                <div class="row">
                    <div class="col-lg-3 block-article__img">
                        <div class="small-card">
                              <div><br><br>
                                  <img class="small-card__img ajust-big-img" src="https://www.consulat.ma/sites/default/files/2018-08/Docu-a-fournir_3.png" alt="doc" data-pagespeed-url-hash="4292431242" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                  <h3 class="small-card__title">Pièces à fournir</h3>
                              </div>
                      </div>
                    </div>
                    <div class="col-lg-9 block-article__text" style="background-primary">
                    <div class="section-header">   
                        Vous devez fournir les pièces suivantes :<br><br>             
                            <p>Quatre (4) photos d’identité;<br>
                               Le passeport en cours de validité pour six (6) mois minimum plus la photocopie des trois (3) premières pages;<br>
                               Le titre de voyage aller/retour ou une attestation détaillée de réservation de billet d’avion;<br>
                               La réservation d’hôtel ou le certificat d’hébergement signé et légalisé à la police ou à la gendarmerie;<br>
                               Une autorisation parentale signée et légalisée du parent s’il s’agit d’un enfant mineur voyageant seul;<br>
                               Merci de contacter nos services avant de vous déplacer.</p>
                    </div>
                    
                    
                    </div>

                </div>

            </div>

        </div>

        
    </div>
    <hr width="40%" style="display:block;border-bottom:2px solid grey !important;
border-top:none !important">

    <footer id="footer"> </footer><!--/#footer-->

{%block scripts%}{%endblock%}
{%endblock%}
