{% extends 'base.html.twig' %}
 {% block titre %}{% endblock %}
  {% block css %}{% endblock %}
      {% block body %}

<body class="path-frontpage page-node-type-homepage">
    <div class="special-container m-5">
         <div class="container-fluid small guide-consulaire ">
            <div class="breadcrumbs container" style="text-align:left"><br>
                <div class="row">
                    <div class="col-10">
                        <ul class="list" style="color:grey">
                            <li class="list-inline-item">
                              <a class="goto-link" href="{{ path('app_servicesauxsenegalais') }}">Accueil ></a>
                                <svg class="icon list__icon" width="12" height="12">
                                  <use xlink:href="#icon-arrow-down"></use>
                                </svg>
                            </li>
                            <li class="list-inline-item">
                              <a class="goto-link" href="{{ path('app_objetdurdv') }}">Prise de RDV ></a>
                                <svg class="icon list__icon" width="12" height="12">
                                  <use xlink:href="#icon-arrow-down"></use>
                                </svg>
                            </li>
                            <li class="list-inline-item">
                              RDV pour Visa
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-header">
        
        
        <h2>Prendre rendez-vous avec votre CONSULAT GÉNÉRAL DU SÉNÉGAL À MARSEILLE
Service Visa</h2></div>
<div class="container">
  <!-- Début de widget en ligne Calendly -->
<div class="calendly-inline-widget" data-url="https://calendly.com/diagnendiaya2002/30min" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Fin de widget en ligne Calendly -->
</div>
          
      

     
     <!-- ---------------------------------------------------- -->
                {% block scripts %}      {% endblock %}

     </body>

     {% endblock %}
     
     
           
