{% extends './home/base.html.twig' %}
 {% block titre %}{% endblock %}
  {% block css %}{% endblock %}

{% block body %}

<body class="path-frontpage page-node-type-homepage">

<div class="container"><br><br>
    <div class="section-header">
          <h2>ANNUAIRE CONSULAIRE</h2>
        </div>

<h3 style="fw:bold">Agence Consulaire du Havre</h3>
Chef d’Agence : Oumar KANE<br>

16, rue Pierre Brossolette – 76600 LE HAVRE<br>
Tél. : 02 35 21 10 82<br><br>

<h3 style="fw:bold">Agence Consulaire de Mantes la Jolie</h3>

Chef d’agence: Mamadou SOW<br>
Adresse : 2 bis rue Pierre de Ronsard 78200 Mantes-la-Jolie


<br><br><br><h3 style="fw:bold">Consulat Général du Sénégal à Bordeaux</h3>
9, place des Cèdres – 33000 BORDEAUX<br>
Tél. : 05 56 32 62 87 – Télécopie : 05 56 86 28 53<br>
<a href="https://www.consulsenbordeaux.com">https://www.consulsenbordeaux.com</a><br><br>

<h3 style="fw:bold">Consulat Général du Sénégal à Lyon</h3>
Consul : Monsieur Ibrahima MBODJ<br>
97, rue Garibaldi – 69006 LYON<br>
Tél. : 04 72 72 96 91 <br>
<a href="https://consulsenlyon.com/">https://consulsenlyon.com/</a><br><br>



<h3 style="fw:bold">Consulat Général du Sénégal à Paris</h3>
Consul : Alioune Touré SECK<br>
22 Rue de l'Amiral Hamelin 75116 Paris<br>
Tél. :01 44 05 38 48 – Télécopie : 01 47 55 99 40<br>
Email. : contact-paris@diplomatie.gouv.sn<br>
<a href="https://consulsen-paris.gouv.sn/">https://consulsen-paris.gouv.sn</a><br><br>


<h3 style="fw:bold">Consulat Honoraire à Lille</h3>
Consul Honoraire : Monsieur Hugues GAUCHEZ<br>

Adresse : 31, rue des fossés – 59000 LILLE<br>

Tél. :03 20 52 68 77 – email : hgauchezconsul@hotmail.fr<br><br>

<h3 style="fw:bold">Consulat Honoraire à Monaco</h3>
Consul Honoraire : Monsieur Sylvain COHEN<br>

Adresse : Park Palace- 27 Avenue de la Costa MC 98000 Monaco<br>

Tél. : 0037797976333 – email : consulat-senegal@libello.com<br><br>

<h3 style="fw:bold">Consulat Honoraire à Nancy</h3>
Consul Honoraire : Monsieur Gérard COLLARDE<br>
Adresse : 23, rue du Sergent Bobillot – 54000 NANCY<br>
Tél. : 03 83 23 25 25 – Télécopie : 03 83 23 29 29<br>

Email : consulat.senegal.nancy@wanadoo.fr<br><br>

<h3 style="fw:bold">Consulat Honoraire à Nantes</h3>
Consul Honoraire : Madame Anne CORONA<br>
Adresse : Annexe de Chantenay – 44094 NANTES CEDEX 1<br>
Tél. : 02 43 07 18 71- Télécopie : 02 40 43 44 14<br><br>

<h3 style="fw:bold">Consulat Honoraire à Reims</h3>
Consul Honoraire : Monsieur Henri Jean-René LANTHONIE<br>

Adresse : 1, Place Myrron Herrick – 51100 REIMS<br>

Email : lanthonie.henri@wanadoo.fr<br><br>

<h3 style="fw:bold">Consulat Honoraire à Rouen</h3>
Consul Honoraire : Monsieur Philippe DEHAYS<br>

Adresse : 66 Quai de Boisguilbert BP 4032 76021 ROUEN Cedex 3<br>

Tél. : 02 35 88 54 00 – Télécopie : 02 35 88 83 19<br><br>





<br><br>
</div>
                {% block scripts %}      {% endblock %}

     </body>
   
{% endblock %}
