{% extends './home/base.html.twig' %}

{%block titre%} Laisser-passer mortuaire {%endblock%}
{%block css%}{%endblock%}

{%block body%}
    <div class="container" id="page">
        <div class="container-inner">
            <div class="main">
                <div class="main-inner group">
                    <main class="content" id="content">
                        <div class="page-title hu-pad group">
                            <br><br><h1>Laisser-passer mortuaire</h1>
                        </div>
                        <div class="hu-pad group">     
                        <article class="group post-35 page type-page status-publish hentry">    
                            <div class="entry themeform">                           
                                <p><strong>DOCUMENTS À FOURNIR</strong></p>
                                <ul>
                                    <li>Une Copie intégrale de l'acte de décé délivré par la Mairie;</li>
                                    <li> Un Procès-verbal de mise en bière (LTA ou plan de vol); </li>
                                    <li> Une Autorisation de fermeture de cercueil; </li>
                                    <li>Une pièce d'identité du défunt;</li>
                                    <li>Une Autorisation préfectorale; </li>    
                                    <li> Un Certificat médical de non-contamination.                                                               
                                </ul>
                                
                            <nav class="pagination group">
                                    </nav><!--/.pagination-->
                            <div class="clear"></div>
                            </div><!--/.entry-->
                            </article>


                            <div class="page-title hu-pad group">
                                <br><br><h1>Transcription de décès</h1>
                            </div>
                            <article class="group post-35 page type-page status-publish hentry">    
                            <div class="entry themeform">                           
                                <p><strong>DOCUMENTS À FOURNIR</strong></p>
                                <ul>
                                    <li>2 Copies intégrales de l'acte de décès délivré par la Mairie;</li>
                                    <li>Une pièce d'identité Sénégalaise du défunt;</li>                                                           
                                </ul>
                                <p> <strong> NB: </strong> <br> La famille du défunt doit se présenter au consulat avec
                                    les pièces énumérées ci-dessus. </p>
                            <nav class="pagination group">
                                    </nav><!--/.pagination-->
                            <div class="clear"></div>
                            </div><!--/.entry-->
                            </article>
                      </div><!--/.hu-pad-->
                    </main><!--/.content-->
                </div><!--/.main-inner-->
            </div><!--/.main-->
        </div><!--/.container-inner-->
    </div><!--/.container-->

    <footer id="footer"> </footer><!--/#footer-->

{%block scripts%}{%endblock%}
{%endblock%}
