
{% extends './home/base.html.twig' %}

  {% block titre %}{% endblock %}
  {% block css %}{% endblock %}
{%block body%}    
<main> 
    <div class="special-container m-5">

        <div class="container">
            <h2 style="text-align:center">DEMANDE D’IMMATRICULATION</h2>
            <div class="col-sm-1 close-col">
                    <span class="flash-close">
                        <svg class="icon icon-close" width="20" height="20">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-popup-close"></use>
                        </svg>
                    </span>
            </div>
          
          <div class="container-fluid small guide-consulaire ">
            <div class="breadcrumbs container" style="text-align:left">
                <div class="row">
                    <div class="col-10">
                        <ul class="list" style="color:grey">
                            <li class="list-inline-item">
                              <a class="goto-link" href="{{ path('app_servicesauxsenegalais') }}">Accueil ></a>
                                <svg class="icon list__icon" width="12" height="12">
                                  <use xlink:href="#icon-arrow-down"></use>
                                </svg>
                            </li>
                            <li class="list-inline-item">
                              <a href="{{path('app_servicesauxsenegalais') }}">Services aux Sénégalais ></a>
                                <svg class="icon list__icon" width="12" height="12">
                                  <use xlink:href="#icon-arrow-down"></use>
                                </svg>
                            </li>
                            <li class="list-inline-item">
                              <a href="{{path('app_cni') }}"">Carte d'Identité ></a>
                                <svg class="icon list__icon" width="12" height="12">
                                  <use xlink:href="#icon-arrow-down"></use>
                                </svg>
                            </li>
                            <li class="list-inline-item">
                              Demande d'Immatriculation
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="text-align:center">
        <h3>Demande d’immatriculation pour enfant de moins de 5 ans</h3>

        <p>LA DEMANDE D’IMMATRICULATION PERMET À L’ENFANT DE MOINS DE 5 ANS PAS ENCORE ÉLIGIBLE À LA CARTE D’IDENTITÉ D’OBTENIR UN NUMÉRO D’IDENTIFICATION NATIONALE AFIN D’EFFECTUER UNE DEMANDE DE PASSEPORT.

        Qui est concerné : <br>

        Tout ressortissant sénégalais n’ayant pas encore 5 ans <br>
        Horaires :<br>

        Du lundi au vendredi de 9h à 17h</p>
        <p>Modalités :<br>

        Il faut vous présenter avec RDV au service carte nationale d’identité (1er étage) et déposer les documents suivants :
        – Un extrait de naissance transcrit issu de la transcription de l’acte de naissance français au consulat voir ici de moins de 12 mois (Original)
        – La copie d’une pièce d’identité ou un passeport sénégalais en cours de validité du père ou de la mère.
    Délais :

    Il faut compter 1 mois pour obtenir le document.
    </div>
</div>
  {% include 'footer.html.twig' %}
  {% block scripts %}     {% endblock %}
 </main>
 {%endblock%}

