{% extends './home/base.html.twig' %}
 {% block titre %}{% endblock %}
  {% block css %}{% endblock %}
      {% block body %}

<body class="path-frontpage page-node-type-homepage">
    <div class="special-container m-5">
         <div class="container-fluid small guide-consulaire "><br><br>
            <div class="breadcrumbs container" style="text-align:left">
                <div class="row">
                    <div class="col-10">
                        <ul class="list" style="color:grey">
                            <li class="list-inline-item">
                              <a class="goto-link" href="/">Accueil ></a>
                                <svg class="icon list__icon" width="12" height="12">
                                  <use xlink:href="#icon-arrow-down"></use>
                                </svg>
                            </li>
                            <li class="list-inline-item">
                              <a href="{{path('app_servicesauxsenegalais') }}">Services aux Sénégalais ></a>
                                <svg class="icon list__icon" width="12" height="12">
                                  <use xlink:href="#icon-arrow-down"></use>
                                </svg>
                            </li>
                            <li class="list-inline-item">
                              Documents de voyage
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<br><br>


          <!-- ======= Our Services Section ======= -->
    <section id="services" class="services sections-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Documents de voyage</h2>
        </div>
        <div class="row gy-4" data-aos="fade-up" data-aos-delay="100">
          <div class="col-xl-4 col-md-5">
            <div class="service-item  position-relative">
              <img class="card-img-top" src="https://i0.wp.com/www.curiositymag.com/wp-content/uploads/2019/06/senegal-passport.jpeg?resize=560%2C301&ssl=1" width="150px" height="200px" alt="Première demande de passeport">
              <h3>Première demande de passeport</h3>
              <a href="{{path('app_passport')}}" class="goto-link"><strong>Consulter <i class="bi bi-arrow-right"></i></strong></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-4 col-md-5">
            <div class="service-item position-relative">
             <img class="card-img-top" src="https://www.dynseo.com/wp-content/uploads/2021/09/jeux-intelligents-pour-les-enfants-VF-480x480.png" height="200px"width="110px" height="200px" alt="Renouvellement passeport">
              <h3>Renouvellement de passeport</h3>
              <a href="{{path('app_renouvellementpasseport')}}" class="goto-link"><strong>Consulter <i class="bi bi-arrow-right"></i></strong></a>
            </div>
          </div><!-- End Service Item -->

          <div class="col-xl-4 col-md-5">
            <div class="service-item position-relative">
              <img class="card-img-top" src="https://th.bing.com/th/id/OIP.nyxnRQYV4qMZaGaW96vFSwHaFU?pid=ImgDet&rs=1" width="150px" height="200px" alt="Sauf conduit">
              <h3></h3>
              <h3>Sauf conduit</h3><br>
              <a href="{{path('app_sauf_conduit')}}" class="goto-link"><strong>Consulter <i class="bi bi-arrow-right"></i></strong></a>
            </div>
          </div><!-- End Service Item -->
        </div>
      </div>
    </section><!-- End Our Services Section ==== -->
     </body>

     {% endblock %}
     
     
           
