

<!DOCTYPE html>
<html class="no-js" lang="fr-FR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style id="wfc-base-style" type="text/css">
  </style>
  </head>

<body class="home blog wp-embed-responsive col-3cm full-width topbar-enabled header-desktop-sticky header-mobile-sticky hueman-pro-1-4-23 chrome">
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-dark-grayscale"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0 0.49803921568627" /><feFuncG type="table" tableValues="0 0.49803921568627" /><feFuncB type="table" tableValues="0 0.49803921568627" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-grayscale"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0 1" /><feFuncG type="table" tableValues="0 1" /><feFuncB type="table" tableValues="0 1" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-purple-yellow"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0.54901960784314 0.98823529411765" /><feFuncG type="table" tableValues="0 1" /><feFuncB type="table" tableValues="0.71764705882353 0.25490196078431" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-blue-red"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0 1" /><feFuncG type="table" tableValues="0 0.27843137254902" /><feFuncB type="table" tableValues="0.5921568627451 0.27843137254902" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-midnight"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0 0" /><feFuncG type="table" tableValues="0 0.64705882352941" /><feFuncB type="table" tableValues="0 1" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-magenta-yellow"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0.78039215686275 1" /><feFuncG type="table" tableValues="0 0.94901960784314" /><feFuncB type="table" tableValues="0.35294117647059 0.47058823529412" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-purple-green"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0.65098039215686 0.40392156862745" /><feFuncG type="table" tableValues="0 1" /><feFuncB type="table" tableValues="0.44705882352941 0.4" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 0 0" width="0" height="0" focusable="false" role="none" style="visibility: hidden; position: absolute; left: -9999px; overflow: hidden;" ><defs><filter id="wp-duotone-blue-orange"><feColorMatrix color-interpolation-filters="sRGB" type="matrix" values=" .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 .299 .587 .114 0 0 " /><feComponentTransfer color-interpolation-filters="sRGB" ><feFuncR type="table" tableValues="0.098039215686275 1" /><feFuncG type="table" tableValues="0 0.66274509803922" /><feFuncB type="table" tableValues="0.84705882352941 0.41960784313725" /><feFuncA type="table" tableValues="1 1" /></feComponentTransfer><feComposite in2="SourceGraphic" operator="in" /></filter></defs></svg><div id="wrapper">
  <a class="screen-reader-text skip-link" href="#content">Skip to content</a>
  
 
  
  <div class="container" id="page">
    <div class="container-inner">
            <div class="main">
        <div class="main-inner group">
          
              <main class="content" id="content">
              <div class="page-title hu-pad group">
          	        
    	
    </div><!--/.page-title-->
          <div class="hu-pad group">
                    

<! -- <a href="{{ path('blog_index') }}">Homepage</a> >

	<div class="featured flexslider" id="flexslider-featured">
		<ul class="slides">
						<li>
				
<article id="post-528" class="group post-528 post type-post status-publish format-standard has-post-thumbnail hentry category-non-classe">
	<div class="post-inner post-hover">
		  		
  		</div><!--/.entry-->
		
	</div><!--/.post-inner-->
</article><!--/.post-->			</li>
						<li>
				
<article id="post-524" class="group post-524 post type-post status-publish format-standard has-post-thumbnail hentry category-non-classe">
	<div class="post-inner post-hover">
		<div class="post-thumbnail featured-img-thumb-large">
			<a href="https://www.consulsen-marseille.org/2023/04/03/inscriptions-sur-les-listes-electorales/">
				<img  width="720" height="340"  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="https://www.consulsen-marseille.org/wp-content/uploads/2023/04/Republique-du-Senegal2.png"  class="attachment-thumb-large size-thumb-large wp-post-image" alt="" decoding="async" loading="lazy" data-srcset="https://www.consulsen-marseille.org/wp-content/uploads/2023/04/Republique-du-Senegal2.png 720w, https://www.consulsen-marseille.org/wp-content/uploads/2023/04/Republique-du-Senegal2-300x142.png 300w, https://www.consulsen-marseille.org/wp-content/uploads/2023/04/Republique-du-Senegal2-520x246.png 520w, https://www.consulsen-marseille.org/wp-content/uploads/2023/04/Republique-du-Senegal2-320x151.png 320w" data-sizes="(max-width: 720px) 100vw, 720px" />															</a>
					</div><!--/.post-thumbnail-->
    
		<h2 class="post-title entry-title">
			<a href="https://www.consulsen-marseille.org/2023/04/03/inscriptions-sur-les-listes-electorales/" rel="bookmark">Listes électorales</a>
		</h2><!--/.post-title-->

		  		<div class="entry excerpt entry-summary">
  			<p>&nbsp;Le consulat général du Sénégal à Paris porte à la connaissance de la communauté sénégalaise que dans le cadre de la révision exceptionnelle des listes électorales en vue de l’élection présidentielle du 25 Février&#46;&#46;&#46;</p>
  		</div><!--/.entry-->
		
	</div><!--/.post-inner-->
</article><!--/.post-->			</li>
						<li>
				
<article id="post-518" class="group post-518 post type-post status-publish format-standard has-post-thumbnail hentry category-non-classe">
	<div class="post-inner post-hover">
		<div class="post-thumbnail featured-img-thumb-large">
			<a href="https://www.consulsen-marseille.org/2023/03/29/horaire-douverture-pendant-le-mois-du-ramadan/">
				<img  width="720" height="340"  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="https://www.consulsen-marseille.org/wp-content/uploads/2023/03/Brown-Modern-Ramadan-Mubarak-Poster.png"  class="attachment-thumb-large size-thumb-large wp-post-image" alt="" decoding="async" loading="lazy" data-srcset="https://www.consulsen-marseille.org/wp-content/uploads/2023/03/Brown-Modern-Ramadan-Mubarak-Poster.png 720w, https://www.consulsen-marseille.org/wp-content/uploads/2023/03/Brown-Modern-Ramadan-Mubarak-Poster-300x142.png 300w, https://www.consulsen-marseille.org/wp-content/uploads/2023/03/Brown-Modern-Ramadan-Mubarak-Poster-520x246.png 520w, https://www.consulsen-marseille.org/wp-content/uploads/2023/03/Brown-Modern-Ramadan-Mubarak-Poster-320x151.png 320w" data-sizes="(max-width: 720px) 100vw, 720px" />															</a>
					</div><!--/.post-thumbnail-->
    
		<h2 class="post-title entry-title">
			<a href="https://www.consulsen-marseille.org/2023/03/29/horaire-douverture-pendant-le-mois-du-ramadan/" rel="bookmark">Horaire d&#8217;ouverture pendant le mois du ramadan</a>
		</h2><!--/.post-title-->

		  		<div class="entry excerpt entry-summary">
  			<p>Il est porté à la connaissance des usagers qu’à l’occasion du mois sacré du Ramadan , les horaires d’ouverture de nos services sont fixés comme suit: Du lundi au vendredi . 09h00mn à 16h00mn</p>
  		</div><!--/.entry-->
		
	</div><!--/.post-inner-->
</article><!--/.post-->			</li>
					</ul>
	</div><!--/.featured-->

                <div id="grid-wrapper" class="post-list group masonry cols-2">
    <article id="post-528" class="group grid-item post-528 post type-post status-publish format-standard has-post-thumbnail hentry category-non-classe">
  <div class="post-inner post-hover">

    <div class="post-thumbnail">
      <a href="https://www.consulsen-marseille.org/2023/04/06/programme-de-deplacement-de-la-commission-administrative-pour-la-revision-exceptionnelle-des-listes-electorales/">
        <img  width="520" height="246"  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="https://www.consulsen-marseille.org/wp-content/uploads/2023/04/D2PLACEMENT-COMMISSION-520x246.png"  class="attachment-thumb-medium-no-crop size-thumb-medium-no-crop wp-post-image" alt="" decoding="async" data-srcset="https://www.consulsen-marseille.org/wp-content/uploads/2023/04/D2PLACEMENT-COMMISSION-520x246.png 520w, https://www.consulsen-marseille.org/wp-content/uploads/2023/04/D2PLACEMENT-COMMISSION-300x142.png 300w, https://www.consulsen-marseille.org/wp-content/uploads/2023/04/D2PLACEMENT-COMMISSION-320x151.png 320w" data-sizes="(max-width: 520px) 100vw, 520px" />                              </a>
          </div><!--/.post-thumbnail-->

    <div class="post-content">
      
      <h2 class="post-title entry-title">
        <a href="https://www.consulsen-marseille.org/2023/04/06/programme-de-deplacement-de-la-commission-administrative-pour-la-revision-exceptionnelle-des-listes-electorales/" rel="bookmark" title="Permalink to Programme de déplacement de la commission administrative pour la révision exceptionnelle des listes électorales">Programme de déplacement de la commission administrative pour la révision exceptionnelle des listes électorales</a>
      </h2><!--/.post-title-->

            <div class="entry excerpt entry-summary">
        <p>LOCALITÉ DATE ADRESSE LILLE 08/04/2023 99 rue saint sauveur, 59000 Lille Toulouse 08/04/2023 153 avenue Lardenne, 31100 Salle le petit capitole Nantes 15/04/2023 Maison de quartier Dervallieres 5 rue auguste Renoir 44100 Nantes Rennes&#46;&#46;&#46;</p>
      </div><!--/.entry-->
          </div>
  </div><!--/.post-inner-->
</article><!--/.post-->
<article id="post-524" class="group grid-item post-524 post type-post status-publish format-standard has-post-thumbnail hentry category-non-classe">
  <div class="post-inner post-hover">

    <div class="post-thumbnail">
      <a href="https://www.consulsen-marseille.org/2023/04/03/inscriptions-sur-les-listes-electorales/">
        <img  width="520" height="246"  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="https://www.consulsen-marseille.org/wp-content/uploads/2023/04/Republique-du-Senegal2-520x246.png"  class="attachment-thumb-medium-no-crop size-thumb-medium-no-crop wp-post-image" alt="" decoding="async" loading="lazy" data-srcset="https://www.consulsen-marseille.org/wp-content/uploads/2023/04/Republique-du-Senegal2-520x246.png 520w, https://www.consulsen-marseille.org/wp-content/uploads/2023/04/Republique-du-Senegal2-300x142.png 300w, https://www.consulsen-marseille.org/wp-content/uploads/2023/04/Republique-du-Senegal2-320x151.png 320w" data-sizes="(max-width: 520px) 100vw, 520px" />                              </a>
          </div><!--/.post-thumbnail-->

    <div class="post-content">
      
      <h2 class="post-title entry-title">
        <a href="https://www.consulsen-marseille.org/2023/04/03/inscriptions-sur-les-listes-electorales/" rel="bookmark" title="Permalink to Listes électorales">Listes électorales</a>
      </h2><!--/.post-title-->

            <div class="entry excerpt entry-summary">
        <p>&nbsp;Le consulat général du Sénégal à Paris porte à la connaissance de la communauté sénégalaise que dans le cadre de la révision exceptionnelle des listes électorales en vue de l’élection présidentielle du 25 Février&#46;&#46;&#46;</p>
      </div><!--/.entry-->
          </div>
  </div><!--/.post-inner-->
</article><!--/.post-->
<article id="post-518" class="group grid-item post-518 post type-post status-publish format-standard has-post-thumbnail hentry category-non-classe">
  <div class="post-inner post-hover">

    <div class="post-thumbnail">
      <a href="https://www.consulsen-marseille.org/2023/03/29/horaire-douverture-pendant-le-mois-du-ramadan/">
        <img  width="520" height="246"  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="https://www.consulsen-marseille.org/wp-content/uploads/2023/03/Brown-Modern-Ramadan-Mubarak-Poster-520x246.png"  class="attachment-thumb-medium-no-crop size-thumb-medium-no-crop wp-post-image" alt="" decoding="async" loading="lazy" data-srcset="https://www.consulsen-marseille.org/wp-content/uploads/2023/03/Brown-Modern-Ramadan-Mubarak-Poster-520x246.png 520w, https://www.consulsen-marseille.org/wp-content/uploads/2023/03/Brown-Modern-Ramadan-Mubarak-Poster-300x142.png 300w, https://www.consulsen-marseille.org/wp-content/uploads/2023/03/Brown-Modern-Ramadan-Mubarak-Poster-320x151.png 320w" data-sizes="(max-width: 520px) 100vw, 520px" />                              </a>
          </div><!--/.post-thumbnail-->

    <div class="post-content">
      
      <h2 class="post-title entry-title">
        <a href="https://www.consulsen-marseille.org/2023/03/29/horaire-douverture-pendant-le-mois-du-ramadan/" rel="bookmark" title="Permalink to Horaire d&#8217;ouverture pendant le mois du ramadan">Horaire d&#8217;ouverture pendant le mois du ramadan</a>
      </h2><!--/.post-title-->

            <div class="entry excerpt entry-summary">
        <p>Il est porté à la connaissance des usagers qu’à l’occasion du mois sacré du Ramadan , les horaires d’ouverture de nos services sont fixés comme suit: Du lundi au vendredi . 09h00mn à 16h00mn</p>
      </div><!--/.entry-->
          </div>
  </div><!--/.post-inner-->
</article><!--/.post-->
<article id="post-492" class="group grid-item post-492 post type-post status-publish format-standard has-post-thumbnail hentry category-non-classe">
  <div class="post-inner post-hover">

    <div class="post-thumbnail">
      <a href="https://www.consulsen-marseille.org/2022/12/23/communique/">
        <img  width="520" height="246"  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="https://www.consulsen-marseille.org/wp-content/uploads/2022/12/Communique-1-520x246.png"  class="attachment-thumb-medium-no-crop size-thumb-medium-no-crop wp-post-image" alt="" decoding="async" loading="lazy" data-srcset="https://www.consulsen-marseille.org/wp-content/uploads/2022/12/Communique-1-520x246.png 520w, https://www.consulsen-marseille.org/wp-content/uploads/2022/12/Communique-1-300x142.png 300w, https://www.consulsen-marseille.org/wp-content/uploads/2022/12/Communique-1-320x151.png 320w" data-sizes="(max-width: 520px) 100vw, 520px" />                              </a>
          </div><!--/.post-thumbnail-->

    <div class="post-content">
      
      <h2 class="post-title entry-title">
        <a href="https://www.consulsen-marseille.org/2022/12/23/communique/" rel="bookmark" title="Permalink to Communiqué">Communiqué</a>
      </h2><!--/.post-title-->

            <div class="entry excerpt entry-summary">
        <p>Il est porté à la connaissance de l&#8217;ensemble du personel et des usagers que le lundi 26 décembre 2022, étant déclaré férié, le consulat général du Sénégal à Paris sera fermé. Ceux dont les&#46;&#46;&#46;</p>
      </div><!--/.entry-->
          </div>
  </div><!--/.post-inner-->
</article><!--/.post-->
<article id="post-375" class="group grid-item post-375 post type-post status-publish format-standard has-post-thumbnail hentry category-non-classe">
  <div class="post-inner post-hover">

    <div class="post-thumbnail">
      <a href="https://www.consulsen-marseille.org/2022/09/21/discours-du-president-macky-sall-a-la-77e-session-ordinaire-de-lassemblee-generale-des-nations-unies/">
        <img  width="520" height="246"  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="https://www.consulsen-marseille.org/wp-content/uploads/2022/09/presi_onu-1-520x246.png"  class="attachment-thumb-medium-no-crop size-thumb-medium-no-crop wp-post-image" alt="" decoding="async" loading="lazy" data-srcset="https://www.consulsen-marseille.org/wp-content/uploads/2022/09/presi_onu-1-520x246.png 520w, https://www.consulsen-marseille.org/wp-content/uploads/2022/09/presi_onu-1-300x142.png 300w, https://www.consulsen-marseille.org/wp-content/uploads/2022/09/presi_onu-1-320x151.png 320w" data-sizes="(max-width: 520px) 100vw, 520px" />                              </a>
          </div><!--/.post-thumbnail-->

    <div class="post-content">
      
      <h2 class="post-title entry-title">
        <a href="https://www.consulsen-marseille.org/2022/09/21/discours-du-president-macky-sall-a-la-77e-session-ordinaire-de-lassemblee-generale-des-nations-unies/" rel="bookmark" title="Permalink to Discours du Président Macky SALL à la 77e session ordinaire de l&#8217;Assemblée générale des nations unies">Discours du Président Macky SALL à la 77e session ordinaire de l&#8217;Assemblée générale des nations unies</a>
      </h2><!--/.post-title-->

            <div class="entry excerpt entry-summary">
        <p>Monsieur le Président de l’Assemblée Générale, Chers collègues, Monsieur le Secrétaire Général, Mesdames, Messieurs, Distingués délégués,&nbsp; Monsieur le Président, au nom de l’Union Africaine, je remercie votre prédécesseur et vous adressetous nos vœux de&#46;&#46;&#46;</p>
      </div><!--/.entry-->
          </div>
  </div><!--/.post-inner-->
</article><!--/.post-->
<article id="post-347" class="group grid-item post-347 post type-post status-publish format-standard has-post-thumbnail hentry category-non-classe">
  <div class="post-inner post-hover">

    <div class="post-thumbnail">
      <a href="https://www.consulsen-marseille.org/2022/09/12/changement-dadresses-electroniques/">
        <img  width="520" height="246"  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="https://www.consulsen-marseille.org/wp-content/uploads/2022/09/adresse-electronique-520x246.png"  class="attachment-thumb-medium-no-crop size-thumb-medium-no-crop wp-post-image" alt="" decoding="async" loading="lazy" data-srcset="https://www.consulsen-marseille.org/wp-content/uploads/2022/09/adresse-electronique-520x246.png 520w, https://www.consulsen-marseille.org/wp-content/uploads/2022/09/adresse-electronique-300x142.png 300w, https://www.consulsen-marseille.org/wp-content/uploads/2022/09/adresse-electronique-320x151.png 320w" data-sizes="(max-width: 520px) 100vw, 520px" />                              </a>
          </div><!--/.post-thumbnail-->

    <div class="post-content">
      
      <h2 class="post-title entry-title">
        <a href="https://www.consulsen-marseille.org/2022/09/12/changement-dadresses-electroniques/" rel="bookmark" title="Permalink to Changement d&#8217;adresses électroniques">Changement d&#8217;adresses électroniques</a>
      </h2><!--/.post-title-->

            <div class="entry excerpt entry-summary">
        <p>Il est porté à l&#8217;attention des usagers que les services consulaires sont maintenant joignables aux adresses éléctroniques suivantes: Etat civil: infoetatcivil-paris@diplomatie.gouv.sn; Chancellerie: chancellerie-paris@diplomatie.gouv.sn; Service juridique: servicejuridique-paris@diplomatie.gouv.sn; Service des visas: infovisa-paris@diplomatie.gouv.sn; Assistance sociale: assistancesociale-paris@diplomatie.gouv.sn; Service&#46;&#46;&#46;</p>
      </div><!--/.entry-->
          </div>
  </div><!--/.post-inner-->
</article><!--/.post-->
<article id="post-280" class="group grid-item post-280 post type-post status-publish format-standard has-post-thumbnail hentry category-non-classe">
  <div class="post-inner post-hover">

    <div class="post-thumbnail">
      <a href="https://www.consulsen-marseille.org/2022/08/24/recensement-diaspora-2022/">
        <img  width="520" height="246"  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="https://www.consulsen-marseille.org/wp-content/uploads/2022/08/PHOTO-2022-08-17-00-53-14-520x246.png"  class="attachment-thumb-medium-no-crop size-thumb-medium-no-crop wp-post-image" alt="" decoding="async" loading="lazy" data-srcset="https://www.consulsen-marseille.org/wp-content/uploads/2022/08/PHOTO-2022-08-17-00-53-14-520x246.png 520w, https://www.consulsen-marseille.org/wp-content/uploads/2022/08/PHOTO-2022-08-17-00-53-14-300x142.png 300w, https://www.consulsen-marseille.org/wp-content/uploads/2022/08/PHOTO-2022-08-17-00-53-14-320x151.png 320w" data-sizes="(max-width: 520px) 100vw, 520px" />                              </a>
          </div><!--/.post-thumbnail-->

    <div class="post-content">
      
      <h2 class="post-title entry-title">
        <a href="https://www.consulsen-marseille.org/2022/08/24/recensement-diaspora-2022/" rel="bookmark" title="Permalink to Recencement diaspora 2022">Recencement diaspora 2022</a>
      </h2><!--/.post-title-->

            <div class="entry excerpt entry-summary">
        <p>L’objectif principal de ce recensement est de disposer de données factuelles permettant d&#8217;affiner davantage les politiques publiques pour une meilleure prise en charge des préoccupations des sénégalais établis à l&#8217;Etranger. En renseignant ce formulaire,&#46;&#46;&#46;</p>
      </div><!--/.entry-->
          </div>
  </div><!--/.post-inner-->
</article><!--/.post-->
<article id="post-202" class="group grid-item post-202 post type-post status-publish format-standard has-post-thumbnail hentry category-non-classe">
  <div class="post-inner post-hover">

    <div class="post-thumbnail">
      <a href="https://www.consulsen-marseille.org/2022/08/06/fete-tamkharite-2022-achoura/">
        <img  width="520" height="340"  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="https://www.consulsen-marseille.org/wp-content/uploads/2022/08/TAMK-520x340.jpg"  class="attachment-thumb-medium-no-crop size-thumb-medium-no-crop wp-post-image" alt="" decoding="async" loading="lazy" data-srcset="https://www.consulsen-marseille.org/wp-content/uploads/2022/08/TAMK-520x340.jpg 520w, https://www.consulsen-marseille.org/wp-content/uploads/2022/08/TAMK-300x196.jpg 300w, https://www.consulsen-marseille.org/wp-content/uploads/2022/08/TAMK-320x210.jpg 320w" data-sizes="(max-width: 520px) 100vw, 520px" />                              </a>
          </div><!--/.post-thumbnail-->

    <div class="post-content">
      
      <h2 class="post-title entry-title">
        <a href="https://www.consulsen-marseille.org/2022/08/06/fete-tamkharite-2022-achoura/" rel="bookmark" title="Permalink to Fête Tamkharite 2022">Fête Tamkharite 2022</a>
      </h2><!--/.post-title-->

            <div class="entry excerpt entry-summary">
        <p>La fête d’Achoura (ou Tamkharite) sera célébrée dans la nuit du lundi 8 août au mardi 9 août 2022 au Sénégal.Nous vous informons que les services du consulat seront fermés ce mardi 9 août&#46;&#46;&#46;</p>
      </div><!--/.entry-->
          </div>
  </div><!--/.post-inner-->
</article><!--/.post-->
<article id="post-165" class="group grid-item post-165 post type-post status-publish format-standard has-post-thumbnail hentry category-non-classe">
  <div class="post-inner post-hover">

    <div class="post-thumbnail">
      <a href="https://www.consulsen-marseille.org/2022/08/04/legislatives-2022-jour-du-scrutin/">
        <img  width="520" height="246"  src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" data-src="https://www.consulsen-marseille.org/wp-content/uploads/2022/08/PARIS-720x340-1.png"  class="attachment-thumb-medium-no-crop size-thumb-medium-no-crop wp-post-image" alt="" decoding="async" loading="lazy" data-srcset="https://www.consulsen-marseille.org/wp-content/uploads/2022/08/PARIS-720x340-1.png 720w, https://www.consulsen-marseille.org/wp-content/uploads/2022/08/PARIS-720x340-1-300x142.png 300w, https://www.consulsen-marseille.org/wp-content/uploads/2022/08/PARIS-720x340-1-520x245.png 520w" data-sizes="(max-width: 520px) 100vw, 520px" />                              </a>
          </div><!--/.post-thumbnail-->



<nav class="pagination group">
			<ul class="group">
			<li class="prev left"></li>
			<li class="next right"></li>
		</ul>
	</nav><!--/.pagination-->

          </div><!--/.hu-pad-->
            </main><!--/.content-->
          

	<div class="sidebar s1 collapsed" data-position="left" data-layout="col-3cm" data-sb-id="s1">

		<button class="sidebar-toggle" title="Expand Sidebar"><i class="fas sidebar-toggle-arrows"></i></button>

		<div class="sidebar-content">

		<div class="sidebar-top group">
      <p>NOUS SUIVRE :</p>                    
      <ul class="social-links">
      <li><a rel="nofollow noopener noreferrer" class="social-tooltip"  title="Suivez-nous sur Facebook" aria-label="Suivez-nous sur Facebook"
      href="#" target="_blank" ><i class="fab fa-facebook"></i></a></li>
      <li><a rel="nofollow noopener noreferrer" class="social-tooltip"  title="Suivez-nous sur Twitter" aria-label="Suivez-nous sur Twitter"
        href="#" target="_blank" ><i class="fab fa-twitter"></i></a>
        </li><li><a rel="nofollow noopener noreferrer" class="social-tooltip"  title="Suivez-nous sur Instagram" aria-label="Suivez-nous sur Instagram" 
        href="#" target="_blank" ><i class="fab fa-instagram"></i></a></li>
        </ul>  			
      </div>
			
			
			
			<div id="block-8" class="widget widget_block widget_media_image">
        <div class="wp-block-image">
        <figure class="aligncenter size-full"><img decoding="async" loading="lazy" width="270" height="180" src="https://www.consulsen-marseille.org/wp-content/uploads/2022/11/img-paris.png" alt="" class="wp-image-452"/>
          <figcaption class="wp-element-caption">
            <strong>446 Avenue du prado </strong><br><strong>TEL :+334 91 98 44 83</strong><br> <strong>EMAIL : contact@consulsen-marseille.org</strong>
          </figcaption>
        </figure>
        </div>
      </div>
      <div id="block-22" class="widget widget_block">
        <figure class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
        <div class="video-container">
          <iframe loading="lazy" title="#RECENSEMENT global des Sénégalais de l’Extérieur. https://recensementdiaspora.sn/" width="500" height="281" src="https://www.youtube.com/embed/TPmD42hT6W8?feature=oembed&wmode=opaque" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe></div>
      </div>
      <figcaption><strong>Recensement des Sénégalais de l'Extérieur</strong></figcaption></figure>
</div><div id="block-35" class="widget widget_block">
<figure class="wp-block-embed is-type-video is-provider-youtube wp-block-embed-youtube wp-embed-aspect-16-9 wp-has-aspect-ratio"><div class="wp-block-embed__wrapper">
<div class="video-container"><iframe loading="lazy" title="PLAN SENEGAL EMERGENT (PSE)" width="500" height="281" src="https://www.youtube.com/embed/Bl8LR_O1Q1M?feature=oembed&wmode=opaque" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
</div><figcaption class="wp-element-caption"><strong>Plan Sénégal Emergent (PSE)</strong></figcaption></figure>
</div><div id="block-44" class="widget widget_block">
<blockquote class="wp-block-quote">
<h3 class="wp-block-heading"><strong>VOS DÉMARCHES</strong></h3>
</blockquote>
</div><div id="block-37" class="widget widget_block">
<div class="wp-block-media-text alignwide is-stacked-on-mobile"><figure class="wp-block-media-text__media"><a href="https://www.consulsen-marseille.org/carte-consulaire/"><img decoding="async" loading="lazy" width="270" height="180" src="https://www.consulsen-marseille.org/wp-content/uploads/2022/11/carte-consulaire.jpg" alt="" class="wp-image-440 size-full"/></a></figure><div class="wp-block-media-text__content">
<p>Carte consulaire</p>
</div></div>
</div><div id="block-38" class="widget widget_block">
<div class="wp-block-media-text alignwide is-stacked-on-mobile"><figure class="wp-block-media-text__media"><a href="https://www.consulsen-marseille.org/demande-de-carte-didentite/"><img decoding="async" loading="lazy" width="270" height="180" src="https://www.consulsen-marseille.org/wp-content/uploads/2022/11/cni-1.png" alt="" class="wp-image-442 size-full"/></a></figure><div class="wp-block-media-text__content">
<p>Carte d'identité</p>
</div></div>
</div><div id="block-39" class="widget widget_block">
<div class="wp-block-media-text alignwide is-stacked-on-mobile"><figure class="wp-block-media-text__media"><a href="https://www.consulsen-marseille.org/demande-de-passeport/"><img decoding="async" loading="lazy" width="270" height="180" src="https://www.consulsen-marseille.org/wp-content/uploads/2022/11/passeport-1.png" alt="" class="wp-image-443 size-full"/></a></figure><div class="wp-block-media-text__content">
<p>Passeport</p>
</div></div>
</div><div id="block-40" class="widget widget_block">
<div class="wp-block-media-text alignwide is-stacked-on-mobile"><figure class="wp-block-media-text__media"><a href="https://www.consulsen-marseille.org/demande-de-visa/"><img decoding="async" loading="lazy" width="270" height="180" src="https://www.consulsen-marseille.org/wp-content/uploads/2022/11/visa-1.png" alt="" class="wp-image-444 size-full"/></a></figure><div class="wp-block-media-text__content">
<p>Visa</p>
</div></div>
</div>
		</div><!--/.sidebar-content-->

	</div><!--/.sidebar-->

	<div class="sidebar s2 collapsed" data-position="right" data-layout="col-3cm" data-sb-id="s2">

	<button class="sidebar-toggle" title="Expand Sidebar"><i class="fas sidebar-toggle-arrows"></i></button>

	<div class="sidebar-content">

		  		<div class="sidebar-top group">
        <p>ACTUALITÉS</p>  		</div>
		
		
		<div id="block-19" class="widget widget_block">
<figure class="wp-block-embed is-type-rich is-provider-twitter wp-block-embed-twitter"><div class="wp-block-embed__wrapper">
<a class="twitter-timeline" data-width="500" data-height="750" data-dnt="true" href="https://twitter.com/MaeseSenegal?ref_src=twsrc%5Etfw">Tweets by MaeseSenegal</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div></figure>
</div><div id="block-18" class="widget widget_block">
<figure class="wp-block-embed is-type-rich is-provider-twitter wp-block-embed-twitter"><div class="wp-block-embed__wrapper">
https://twitter.com/PR_Senegal
</div></figure>
</div>
	</div><!--/.sidebar-content-->

</div><!--/.sidebar-->

        </div><!--/.main-inner-->
      </div><!--/.main-->
    </div><!--/.container-inner-->
  </div><!--/.container-->
   

</div><!--/#wrapper-->

<script src='https://www.consulsen-marseille.org/wp-includes/js/imagesloaded.min.js?ver=4.1.4' id='imagesloaded-js'></script>
<script src='https://www.consulsen-marseille.org/wp-includes/js/masonry.min.js?ver=4.2.2' id='masonry-js'></script>
<!--[if lt IE 9]>
<script src="https://www.consulsen-marseille.org/wp-content/themes/hueman-pro/assets/front/js/ie/respond.js"></script>
<![endif]-->
            
      </body>

      <div class="site_wrap">
        {% include 'partials/header.html.twig' %}
        {% include block body %}{% enblock %}
        {% include '/partials/footer.html.twig' %}
      </div>
</html>