 <!-- ======= Footer ======= -->

<footer id="footer" class="footer">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <div id="block-28" class="widget widget_block widget_media_image">
          <div class="wp-block-image">
            <figure class="aligncenter size-full">
              <a href="https://www.presidence.sn/" target="_blank" rel=" noreferrer noopener">
                <img decoding="async" loading="lazy" width="149" height="61" src="https://consulsen-paris.gouv.sn/wp-content/uploads/2022/11/pr-1.png" alt="" class="wp-image-416"/>
              </a>
              <figcaption>
                <strong style="text-align:center" >Présidence de la République</strong>
              </figcaption>
            </figure>
          </div><!-- End .wp-block-image -->
        </div><!-- End .block-28 -->
        </div> <!-- End .col-4 -->

        <div class="col-4">
          <div id="block-29" class="widget widget_block widget_media_image">
            <figure class="aligncenter size-full">
              <a href="https://www.visitezlesenegal.com/" target="_blank" rel=" noreferrer noopener">
                <img decoding="async" loading="lazy" width="149" height="61" src="https://consulsen-paris.gouv.sn/wp-content/uploads/2022/11/visiter-le-senegal.png" alt="" class="wp-image-417"/>
              </a>
              <figcaption>
                <strong style="text-align:center">Visiter le Sénégal</strong>
              </figcaption>
            </figure>
          </div> <!-- End .block-29 -->                
        </div>  <!-- End .col4-->
                                
        <div class="col-4">
          <div id="block-30" class="widget widget_block widget_media_image">
            <div class="wp-block-image">
              <figure class="aligncenter size-full">
                <a href="https://www.sec.gouv.sn/" target="_blank" rel=" noreferrer noopener">
                  <img decoding="async" loading="lazy" width="149" height="61" src="https://consulsen-paris.gouv.sn/wp-content/uploads/2022/11/gouv-1.png" alt="" class="wp-image-419"/>
                </a>
                <figcaption>
                  <strong style="text-align:center">Gouvernement du Sénégal</strong>
                </figcaption>
              </figure>
            </div> <!-- End .wp -->
          </div><!-- End #block-30 -->
        </div><!-- End .col4 -->
        </div><!--/.row--><br><br>

      <div class="row">
        <div class="col-4">
          <div id="block-31" class="widget widget_block widget_media_image">
            <div class="wp-block-image">
              <figure class="aligncenter size-full">
                <a href="https://faise.sn/" target="_blank" rel=" noreferrer noopener">
                  <img decoding="async" loading="lazy" width="149" height="61" src="https://consulsen-paris.gouv.sn/wp-content/uploads/2022/11/faise.png" alt="" class="wp-image-420"/>
                </a> 
                <figcaption>
                  <strong style="text-align:center">Accès aux financements </strong>
                </figcaption>
              </figure>
            </div><!-- End .wp -->
          </div><!-- End #block-31 -->                  
        </div><!-- End .col4-->

        <div class="col-4">
          <div id="block-33" class="widget widget_block widget_media_image">
            <div class="wp-block-image">
              <figure class="aligncenter size-full">
                <a href="https://diplomatie.gouv.sn/" target="_blank" rel=" noreferrer noopener">
                  <img decoding="async" loading="lazy" width="149" height="61" src="https://consulsen-paris.gouv.sn/wp-content/uploads/2022/11/maese1.png" alt="" class="wp-image-422"/>
                </a>
                <figcaption>
                  <strong style="text-align:center">Ministère des Affaires Etrangères</strong>
                </figcaption>
              </figure>
            </div><!-- End .wp -->
          </div> <!-- End #block-33 -->
        </div><!-- End .col4-->

        <div class="col-4">
          <div id="block-32" class="widget widget_block widget_media_image">
            <div class="wp-block-image">
              <figure class="aligncenter size-full">
                <a href="https://investinsenegal.com/" target="_blank" rel=" noreferrer noopener">
                  <img decoding="async" loading="lazy" width="149" height="61" src="https://consulsen-paris.gouv.sn/wp-content/uploads/2022/11/apix.png" alt="" class="wp-image-421"/>
                </a>
                <figcaption>
                  <strong style="text-align:center">Investir au Sénégal</strong>
                </figcaption>
              </figure>
            </div> <!-- End .wp -->
          </div>   <!-- End #block-33 -->               
        </div> <!-- End .col4-->
      </div><!--/.row-->

              
      <br><div class="row">
        <div class="col-6">
          <div class="social-links d-flex mt-4">
            <a href="https://twitter.com/consulsen13" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="https://www.facebook.com/consulsenmarseille/" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>
     </div> 
      <p style="text-align: right; margin-top:  -3em;">
          &copy; Copyright 2023 <strong><span>Consulat Général du Sénégal à Marseille</span></strong>. 
        </p>
    </div><!--.container-->
  </footer><!-- End Footer -->
