<div class="container my-5 bg-primary">
    <div class="row guide_services justify-content-md-center">
      <div class="col-lg-4 col-md-5 mx-1 my-2">
        <div class="card service-card">
        <h3>CONSULAT</h3>
        <div title="Missions, communiqué">
        Missions, communiqué
        <a class="goto-link" href="https://www.consulsen-marseille.org/consulat/" title="Consulat">Consulter
        <svg class="icon icon-arrow">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow"></use>
        </svg>
        </a>
     </div>
</div>
<div class="col-lg-4 col-md-5 mx-1 my-2">
    <div class="card service-card">
    <h3>SERVICES AUX SENEGALAIS</h3>
    <div title="Carte d'identité Nationale, Passeport, Démarches Etat civile, Légalisation documents">
      Carte d'identité Nationale, Passeport, Démarches Etat civile, Légalisation documents
    </div>
    <a class="goto-link" href="https://www.consulsen-marseille.org/services-aux-senegalais/" title="Services aux Senegalais">Consulter
        <svg class="icon icon-arrow">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow"></use>
        </svg>
    </a>
</div>
        </div>
<div class="col-lg-4 col-md-5 mx-1 my-2">
<div class="card service-card">
    <h3>SERVICES AUX ETRANGERS </h3>
    <div title="Visa"</div>
">
      Retour définitif, Admission temporaire, Abattement, Dons humanitaires, Introduction des animaux,...

    </div>
    <a class="goto-link" href="https://www.consulat.ma/fr/facilites-douanieres" title="Facilités douanières">Consulter
        <svg class="icon icon-arrow">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow"></use>
        </svg>
    </a>
</div>
        </div>
                <div class="col-lg-4 col-md-5 mx-1 my-2">
            <div class="card service-card">
    <img src="https://www.consulat.ma/sites/default/files/2018-10/bag_0.png" alt="Visitez le Maroc">
    <h3>Visitez le Maroc</h3>
    <div title="Visa Touristique, Visa étudiant, Visa affaires…
">
      Visa Touristique, Visa étudiant, Visa affaires…

    </div>
    <a class="goto-link" href="https://www.consulat.ma/fr/visitez-le-maroc" title="Visitez le Maroc">Consulter
        <svg class="icon icon-arrow">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow"></use>
        </svg>
    </a>
</div>
        </div>
        
    </div>
</div>




  <div class="container-lg">
    <div class="row gx-5">
      <div class="col">
        <div class="p-3 border bg-light">CONSULAT</div>
      </div>
      <div class="col gx-5">
        <div class="p-3 border bg-light">SERVICES AUX SENEGALAIS</div>
        
      </div>
  </div>
  <div class="row">
    <div class="col gx-5">
      <div class="p-3 border bg-light">SERVICES AUX ETRANGERS</div>
      
    </div>
    <div class="col gx-5">
      <div class="p-3 border bg-light">CONTACT</div>
      
    </div>
  </div>