{% extends './home/base.html.twig' %}

{% block body %}

{% for message in app.flashes('success') %}
 <div class="alert alert-success text-center mb-0">
   {{ message }}
 </div>
{% endfor %}


<div>
  <br> 
    <strong> Votre Passeport est disponible au Consulat Générale du Sénégal de Marseille </strong> <br><br><br>
</div>
{% endblock %}
