{% extends './home/base.html.twig' %}
 {% block titre %}Carte Consulaire {% endblock %}
  {% block css %}{% endblock %}
      {% block body %}

<body class="path-frontpage page-node-type-homepage">
    <div class="special-container m-5">
         <div class="container-fluid small guide-consulaire "><br><br>
            <div class="breadcrumbs container" style="text-align:left">
                <div class="row">
                    <div class="col-10">
                        <ul class="list" style="color:grey">
                            <li class="list-inline-item">
                              <a class="goto-link" href="/">Accueil ></a>
                                <svg class="icon list__icon" width="12" height="12">
                                  <use xlink:href="#icon-arrow-down"></use>
                                </svg>
                            </li>
                            <li class="list-inline-item">
                              <a href="{{path('app_demandedevisa') }}">Services aux Etrangers ></a>
                                <svg class="icon list__icon" width="12" height="12">
                                  <use xlink:href="#icon-arrow-down"></use>
                                </svg>
                            </li>
                            <li class="list-inline-item">
                              Pays européens 


                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<br><br>

    <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Pays européens dispensés de visa</h2>
        </div>
        


          <ul style="text-align:left">
            <li>France,</li>
            <li>Allemagne,</li>
            <li>Autriche,</li>
            <li>Belgique,</li>
            <li>Bulgarie,</li>
            <li>Chypre,</li>
            <li>Croatie,</li>
            <li>Danemark,</li>
            <li>Espagne,</li>
            <li>Estonie,</li>
            <li>Finlande,</li>
            <li>Grèce,</li>
            <li>Hongrie,</li>
            <li>Italie,</li>
            <li>Lettonie,</li>
            <li>Lituanie,</li>
            <li>Luxembourg,</li>
            <li>Malte,</li>
            <li>Pays-Bas,</li>
            <li>Pologne,</li>
            <li>Portugal,</li>
            <li>République Tchèque,</li>
            <li>Roumanie,</li>
            <li>Royaume Uni,</li>
            <li>Slovaquie,</li>
            <li>Slovénie,</li>
            <li>Suède</li>
</div>        
    <hr width="40%" style="display:block;border-bottom:2px solid grey !important;
border-top:none !important">

    <footer id="footer"> </footer><!--/#footer-->

{%block scripts%}{%endblock%}
{%endblock%}
