{% extends 'base.html.twig' %}

{%block titre%} Certificat de Coutume {%endblock%}
{%block css%}{%endblock%}

{%block body%}
    <div class="container" id="page">
        <div class="container-inner">
            <div class="main">
                <div class="main-inner group">
                    <main class="content" id="content">
                        <div class="page-title hu-pad group">
                            <h1>Certificat de Coutume</h1>
                        </div>
                        <div class="hu-pad group">     
                        <article class="group post-35 page type-page status-publish hentry">    
                            <div class="entry themeform">                           
                                <p><strong>DOCUMENTS À FOURNIR</strong></p>
                                <p><h4>Pour un couple de Sénégalais</h4></p>
                                <ul>
                                    <li>Extrait de Naissance datant de moins de 3 mois pour chacun des 2 conjoints;</li>
                                    <li> Originaux de certificat de Célibat datant de moins de 3 mois pour chaque conjoit;</li>
                                    <li>Carte NATIONALE d’Identité ou Passeport;</li>
                                    <li> En cas de divorce, un certificat de NON REMARIAGE, ou un JUGEMENT DE DIVORCE en plus du certificat de divorce</li>
                                    <p><h4>Pour un couple mixte (Sénégalais-(e) avec un(e) étranger(ère)) </h4></p>
                                    <li>Pour le Sénégalais les pièces sont identiques à celles énumérées ci-dessus.
                                        <br><br> <strong> Pour l'étranger: </strong>
                                    </li>
                                    <li>Une copie intégrale de l'acte de naissance (si la copie intégrale est délivrée
                                        sous une autre langue que le français, le faire traduire avant de vous présenter au consulat);</li>
                                    <li>Une pièce d’Identité (CNI ou Passeport);</li>
                                    <li>Un justificatif de domicile.</li>                                    
                                </ul>
                                <p><strong>NB</strong>:&nbsp;</p>
                                <p>Les futurs époux doivent se présenter tous les deux au Consulat munis des pièces citées ci-dessus pour signer un formulaire.
                                Ainsi une publication de mariage est faite pendant 21 jours à l'issue desquels, le certificat de coutume est délivré aux intéressés. </p>
                            <nav class="pagination group">
                                    </nav><!--/.pagination-->
                            <div class="clear"></div>
                            </div><!--/.entry-->
                            </article>
                      </div><!--/.hu-pad-->
                    </main><!--/.content-->
                </div><!--/.main-inner-->
            </div><!--/.main-->
        </div><!--/.container-inner-->
    </div><!--/.container-->

    <footer id="footer"> </footer><!--/#footer-->

{%block scripts%}{%endblock%}
{%endblock%}
