{% extends './home/base.html.twig' %}
 {% block titre %}Carte Consulaire {% endblock %}
  {% block css %}{% endblock %}
      {% block body %}

<body class="path-frontpage page-node-type-homepage">
    <div class="special-container m-5">
         <div class="container-fluid small guide-consulaire "><br><br>
            <div class="breadcrumbs container" style="text-align:left">
                <div class="row">
                    <div class="col-10">
                        <ul class="list" style="color:grey">
                            <li class="list-inline-item">
                              <a class="goto-link" href="/">Accueil ></a>
                                <svg class="icon list__icon" width="12" height="12">
                                  <use xlink:href="#icon-arrow-down"></use>
                                </svg>
                            </li>
                            <li class="list-inline-item">
                              <a href="{{path('app_servicesauxsenegalais') }}">Services aux Sénégalais ></a>
                                <svg class="icon list__icon" width="12" height="12">
                                  <use xlink:href="#icon-arrow-down"></use>
                                </svg>
                            </li>
                            <li class="list-inline-item">
                              <a href="{{path('app_etatcivil') }}">Etat Civil ></a>
                                <svg class="icon list__icon" width="12" height="12">
                                  <use xlink:href="#icon-arrow-down"></use>
                                </svg>
                            </li>
                            <li class="list-inline-item">
                                Certificat de coutume
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<br><br>

    <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Certificat de coutume</h2>
        </div>
        
        <!-- ==================================================================================  -->

        <!-- benefit sections -->
            <hr width="40%" style="display:block;border-bottom:2px solid grey !important;border-top:none !important">

    <div id="attachements1" class="py-2 maeci__attachements">
                <div class="container p-0 maeci-detailPAttachement">
            <!-- Section -->
            <div class="block-article">
                <div class="row">
                    <div class="col-lg-3 block-article__img">
                        <div class="small-card">
                              <div>
                                  <img class="small-card__img ajust-big-img" src="{{asset('assets/img/infos.jpg')}}" alt="Infos" width=100px height=100px;">
                                  <h3 class="small-card__title">Infos</h3>
                              </div>
                      </div>
                    </div>
                    <div class="col-lg-9 block-article__text">
                          <p><br>Les futurs époux doivent se présenter tous les deux au Consulat munis des pièces citées ci-dessous pour signer un formulaire.
                            Ainsi une publication de mariage est faite pendant 21 jours à l'issue desquels, le certificat de coutume est délivré aux intéressés. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr width="40%" style="display:block;border-bottom:2px solid grey !important;border-top:none !important">

    <div id="attachements2" class="py-2 maeci__attachements grey-bg ">
                <div class="container p-0 maeci-detailPAttachement">
            <!-- Section -->
            <div class="block-article">
                <div class="row">
                    <div class="col-lg-3 block-article__img">
                        <div class="small-card">
                              <div><br><br><br><br><br>
                                  <img class="small-card__img ajust-big-img" src="https://www.consulat.ma/sites/default/files/2018-08/Docu-a-fournir_3.png" alt="doc" data-pagespeed-url-hash="4292431242" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                  <h3 class="small-card__title">Pièces à fournir</h3>
                              </div>
                      </div>
                    </div>
                    <div class="col-lg-9 block-article__text" style="background-primary">
                    <div class="section-header">
                     <h2>Pour un couple de Sénégalais</h2>
                        Extrait de Naissance datant de moins de 3 mois pour chacun des 2 conjoints;<br>
                        Originaux de certificat de Célibat datant de moins de 3 mois pour chaque conjoit;<br>
                        Carte NATIONALE d’Identité ou Passeport;<br>
                        En cas de divorce, un certificat de NON REMARIAGE, ou un JUGEMENT DE DIVORCE en plus du certificat de divorce</div>
                    <div class="section-header">
                        <h2>Pour un couple mixte (Sénégalais-(e) avec un(e) étranger(ère))</h2>                  
                          <strong> Pour le Sénégalais :</strong>  les pièces sont identiques à celles énumérées ci-dessus.<br>
                           <strong> Pour l'étranger: </strong>
                            Une copie intégrale de l'acte de naissance (si la copie intégrale est délivrée sous une autre langue que le français, le faire traduire avant de vous présenter au consulat);<br>
                            Une pièce d’Identité (CNI ou Passeport);<br>
                            Un justificatif de domicile.                  
                        </div>     
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr width="40%" style="display:block;border-bottom:2px solid grey !important;
border-top:none !important">

    <footer id="footer"> </footer><!--/#footer-->

{%block scripts%}{%endblock%}
{%endblock%}
