{% extends './home/base.html.twig' %}

   
    {%block titre%} SAUF-CONDUIT {%endblock%}
     
    {%block css%}{%endblock%}
    

 
 


{%block body%}

    <div class="container" id="page">
        <div class="container-inner">
            <div class="main">
                <div class="main-inner group">
                    <main class="content" id="content">
                        <div class="page-title hu-pad group">
                            <h1>SAUF-CONDUIT</h1>
                        </div>
                        <div class="hu-pad group">     
                            <article class="group post-31 page type-page status-publish hentry">   
                                <div class="entry themeform">                              
                                    <p><strong>Le sauf-conduit est un document de voyage délivré 
                                        exceptionnellement à un Sénégalais qui ne dispose pas d’un autre 
                                        document de voyage valable.</strong> </p>
                                    <p>Il est valable pour un voyage allé simple de l’étranger vers le Sénégal.
                                        <br>Note&nbsp;: Le sauf-conduit doit être demandé au plutôt 10 jours 
                                        avant votre départ</p>
                                    <p><strong>Documents à fournir&nbsp;:</strong></p>
                                    <ul>
                                        <li> 4 photos d'identité </li>
                                        <ul> <strong>Une pièce d'identité </strong>                        
                                        <li>Photocopie du passeport OU, </li> 
                                        <li>Photocopie de la carte d’identité sénégalaise, ou extrait de naissance,
                                            ou de la carte consulaire 
                                            (l’original de la pièce devra être présenté)</li> </ul>
                                        <li>Photocopie du billet d’avion ou de la réservation</li>                       
                                </ul>

                                <ul>
                                    <li><strong>Pour les enfants mineurs</strong></li>
                                </ul>
                                <ul>
                                    <li> 4 photos d'identité </li>
                                    <ul> <strong>Une pièce d'identité </strong>                        
                                        <li>Photocopie du passeport OU, </li> 
                                        <li>Photocopie de la carte d’identité sénégalaise, ou extrait de naissance,
                                            ou de la carte consulaire 
                                            (l’original de la pièce devra être présenté)</li> </ul>
                                        <li>Photocopie du billet d’avion ou de la réservation</li>
                                        <li>Autorisation parentale&nbsp;<strong>signée et légalisée</strong>&nbsp;par le père (Modèle ci-après )</li>
                                        <li>&nbsp;Photocopie de la pièce d’identité sénégalaise du père</li>
                                        <li>Titre Républicain ou Titre de Circulation </li>
                                 </ul>

                                <p><a href="http://localhost/consulatparis/wp-content/uploads/2022/07/autorisation_parentale.pdf">AUTORISATION PARENTALE</a></p>

                                <p><strong>FORMULAIRE&nbsp;:</strong></p>
                                <p><strong>&nbsp;Il vous est demandé d’imprimer et remplir le formulaire ci-dessous avant de vous présenter au Consulat<br>Formulaire de demande de sauf-conduit</strong>&nbsp;:</p>
                                <p><a href="http://consulsen-paris.gouv.sn/wp-content/uploads/2022/08/formulaire_sauf_conduit.pdf" target="_blank" rel="noreferrer noopener">Formulaire Sauf conduit</a></p>
                                <p><strong>Formulaire de demande de sauf conduit consulat général du Sénégal à Marseille</strong></p>
                                   <nav class="pagination group">
                                            </nav><!--/.pagination-->
                                    <div class="clear"></div>
                                    </div><!--/.entry-->

                                </article>
                                    <p><strong>NOTE&nbsp;:</strong></p>
                                    <p>Le sauf-conduit est délivré au plus tôt à une semaine de la date du voyage.
                                        (Photocopies en double exigée.) <strong> Sans titre républicain, l'enfant ne pourra pas revenir en France.<strong>
                                    
                                    </p>
                   
                        
                                    <nav class="pagination group"> </nav><!--/.pagination-->
                                    <div class="clear"> </div>
                                </div><!--/.entry-->
                            </article>
                        </div><!--/.hu-pad-->
                    </main><!--/.content-->
                </div><!--/.main-inner-->
            </div><!--/.main-->
        </div><!--/.container-inner-->
    </div><!--/.container-->

    <footer id="footer"> </footer><!--/#footer-->

{%block scripts%}{%endblock%}
{%endblock%}
