{% extends './home/base.html.twig' %}
 {% block titre %}Sauf Conduit {% endblock %}
  {% block css %}{% endblock %}
      {% block body %}

<body class="path-frontpage page-node-type-homepage">
    <div class="special-container m-5">
         <div class="container-fluid small guide-consulaire "><br><br>
            <div class="breadcrumbs container" style="text-align:left">
                <div class="row">
                    <div class="col-10">
                        <ul class="list" style="color:grey">
                            <li class="list-inline-item">
                              <a class="goto-link" href="/">Accueil ></a>
                                <svg class="icon list__icon" width="12" height="12">
                                  <use xlink:href="#icon-arrow-down"></use>
                                </svg>
                            </li>
                            <li class="list-inline-item">
                              <a href="{{path('app_servicesauxsenegalais') }}">Services aux Sénégalais ></a>
                                <svg class="icon list__icon" width="12" height="12">
                                  <use xlink:href="#icon-arrow-down"></use>
                                </svg>
                            </li>
                            <li class="list-inline-item">
                              <a href="{{path('app_documentsdevoyage') }}">Documents de voyage ></a>
                                <svg class="icon list__icon" width="12" height="12">
                                  <use xlink:href="#icon-arrow-down"></use>
                                </svg>
                            </li>
                            <li class="list-inline-item">
                                Sauf conduit
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
<br><br>

    <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Sauf conduit</h2>
        </div>
        
        <!-- ==================================================================================  -->

        <!-- benefit sections -->
            <hr width="40%" style="display:block;border-bottom:2px solid grey !important;border-top:none !important">

    <div id="attachements1" class="py-2 maeci__attachements">
                <div class="container p-0 maeci-detailPAttachement">
            <!-- Section -->
            <div class="block-article">
                <div class="row">
                    <div class="col-lg-3 block-article__img">
                        <div class="small-card">
                              <div><br><br>
                                  <img class="small-card__img ajust-big-img" src="{{asset('assets/img/infos.jpg')}}" alt="Infos" width=100px height=100px;">
                                  <h3 class="small-card__title">Infos</h3>
                              </div>
                      </div>
                    </div>
                    <div class="col-lg-9 block-article__text">
                        <p>Le sauf-conduit est un document de voyage délivré exceptionnellement à un
                         Sénégalais qui ne dispose pas d’un autre document de voyage valable. Il 
                         est valable pour un voyage aller simple de l’étranger vers le Sénégal.
                       <br> <strong> Note : Le sauf-conduit doit être demandé au plutôt 10 jours avant votre
                        départ.</strong> 
                       (Photocopies en double exigée.) <strong>Sans titre républicain, l'enfant ne pourra pas revenir en France.</strong>                         
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr width="40%" style="display:block;border-bottom:2px solid grey !important;border-top:none !important">

    <div id="attachements2" class="py-2 maeci__attachements grey-bg ">
                <div class="container p-0 maeci-detailPAttachement">
            <!-- Section -->
            <div class="block-article">
                <div class="row">
                    <div class="col-lg-3 block-article__img">
                        <div class="small-card">
                              <div><br><br><br><br><br><br><br><br><br><br>
                                  <img class="small-card__img ajust-big-img" src="https://www.consulat.ma/sites/default/files/2018-08/Docu-a-fournir_3.png" alt="doc" data-pagespeed-url-hash="4292431242" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
                                  <h3 class="small-card__title">Pièces à fournir</h3>
                              </div>
                      </div>
                    </div>
                    <div class="col-lg-9 block-article__text" style="background-primary">
                    <div class="section-header">     
                            <h2>Pour un sénégalais majeur</h2>                                 
                            <strong> 1: </strong> 4 photos d'identité;<br>
                            <strong> 2: </strong> Une pièce d'identité (CNI ou Passeport ou extrait de naissance); <br>                             Photocopie de la carte d’identité sénégalaise, ou extrait de naissance, ou de la carte consulaire (l’original de la pièce devra être présenté)<br>
                            <strong> 3: </strong>  Photocopie du billet d’avion ou de la réservation;<br>
                    <div class="section-header">
                        <h2>Pour les enfants mineurs</h2>                  
                           <strong> 1: </strong> 4 photos d'identité;<br>
                        <strong> 2: </strong> Une pièce d'identité (CNI ou Passeport ou extrait de naissance); <br>                             Photocopie de la carte d’identité sénégalaise, ou extrait de naissance, ou de la carte consulaire (l’original de la pièce devra être présenté)<br>
                          <strong> 3: </strong> Photocopie du billet d’avion ou de la réservation;<br>
                           <strong> 4: </strong> Autorisation parentale <strong>signée et légalisée</strong> par le père;<br>
                          <strong> 5: </strong> Photocopie de la pièce d’identité sénégalaise du père;<br>
                        </div>     
                    </div>

                </div>

            </div>

        </div>

        
    </div>
    <hr width="40%" style="display:block;border-bottom:2px solid grey !important;
border-top:none !important">

    <footer id="footer"> </footer><!--/#footer-->

{%block scripts%}{%endblock%}
{%endblock%}
