{% extends './home/base.html.twig' %}
        {%block titre%} PREMIÈRE DEMANDE DE PASSEPORT {%endblock%}
      
        {%block css%}{%endblock%}


	{%block body%}
    <div class="container" id="page">
        <div class="container-inner">
            <div class="main">
                <div class="main-inner group">
                    <main class="content" id="content">
                        <div class="page-title hu-pad group">
                            <h1>PREMIÈRE DEMANDE DE PASSEPORT</h1>
                        </div>
                        <div class="hu-pad group">     
                            <article class="group post-27 page type-page status-publish hentry">
                                <div class="entry themeform">
                                    <h3>
                                    <strong>Documents à fournir pour une première demande de passeport biométrique</strong>
                                    </h3>
                                    <p><strong>SÉNÉGALAIS NÉ EN EUROPE</strong></p>
                                    <ul>
                                        <li>Carte nationale d’identité biométrique CEDEAO (Originale + 2 copies Recto/Verso);</li>
                                        <li> Extrait de naissance moins d’1 an </li>
                                        <li> Photocopie pièce d'identité des 2 parents (PASSEPORT ou CNI)  2 copies </li>
                                        <li>Un justificatif de domicile (Facture EDF, quittance de loyer etc…);</li>
                                        <li>Un timbre d’une valeur de 30,50 euros (paiement sur place, <strong>en espèce ou par carte bancaire</strong>).</li>
                                    </ul>

                                    <p><strong>SÉNÉGALAIS NÉ AU SÉNÉGAL</strong></p>
                                    <ul>
                                        <li>Carte nationale d’identité biométrique CEDEAO (Originale + 2 copies) </li>
                                        <li>Extrait de naissance de moins d'1 an </li>
                                        <li> Copie littérale moins d’un ans copie plus originale </li>
                                        <li> Photocopie pièce d'identité des 2 parents (PASSEPORT ou CNI)  2 copies. En cas de décès une copie du certificat de décès </li>
                                        <li> Certificat de nationalité sénégalaise légalisée par Greffe du tribunal </li>
                                        <li>Un justificatif de domicile (Facture EDF, quittance de loyer etc…);</li>
                                        <li>Un timbre d’une valeur de 30,50 euros (paiement sur place, <strong>en espèce ou par carte bancaire</strong>).</li>
                                    </ul>
                                    
                                    <p><strong>POUR L’ENFANT ÂGÉ DE 0 À 5 ANS</strong></p>
                                    <ul>
                                        <li>La fiche d’immatriculation nationale (délivrée par le service carte nationale d’identité)</li>
                                        <li>Extrait de naissance de moins d’1 an</li>
                                        <li><a rel="noreferrer noopener" href=autorisation_parentale.pdf" target="_blank">Autorisation parentale</a> <strong>signée et légalisée</strong> du père (ou de la mère si celle-ci exerce l’autorité parentale suite à une décision judiciaire);</li>
                                        <li><strong>NB</strong>: la présence du signataire est obligatoire pour la légalisation de l&#8217;autorisation parentale;</li>
                                        <li>Pièce d’identité sénégalaise du parent autorisant (copie recto/verso);</li>
                                        <li>Justificatif de domicile (Facture EDF, quittance de loyer etc…);</li>
                                        <li>Un timbre d’une valeur de 30,50 euros (paiement sur place, <strong>en espèce ou par carte bancaire</strong>).</li>
                                    </ul>
                                    
                                    <p><strong>NOTE&nbsp;:</strong></p>
                                    <p>Le délai de délivrance d’un passeport biométrique ordinaire 
                                        est en moyenne d'1 à 2 mois
                                        <br>Validité du passeport&nbsp;:<br>
                                        La validité du passeport biométrique est de 5 ans.
                                    </p>
                   

                        
                                    <nav class="pagination group"> </nav><!--/.pagination-->
                                    <div class="clear"> </div>
                                </div><!--/.entry-->
                            </article>
                        </div><!--/.hu-pad-->
                    </main><!--/.content-->
                </div><!--/.main-inner-->
            </div><!--/.main-->
        </div><!--/.container-inner-->
    </div><!--/.container-->

{%endblock%}
