<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {%block titre%} PREMIÈRE DEMANDE DE PASSEPORT {%endblock%}
        </title>

        {%block css%}{%endblock%}
    </head>

<body>  
  <header id="header">
    <nav class="nav-container id="nav-mobile">
        <div class="nav-text"> </div>
        <div class="nav-wrap container"> </div>
    </nav>
    </header>

    <div class="container text-center">
		{%block body%}{%endblock%}
	</div>
  
    <div class="container" id="page">
        <div class="container-inner">
            <div class="main">
                <div class="main-inner group">
                    <main class="content" id="content">
                        <div class="page-title hu-pad group">
                            <h1>PREMIÈRE DEMANDE DE PASSEPORT</h1>
                        </div>
                        <div class="hu-pad group">     
                            <article class="group post-27 page type-page status-publish hentry">
                                <div class="entry themeform">
                                    <h3>
                                    <strong>Documents à fournir pour une première demande de passeport biométrique</strong>
                                    </h3>
                                    <p><strong>SÉNÉGALAIS NÉ EN EUROPE</strong></p>
                                    <ul>
                                        <li>Carte nationale d’identité biométrique CEDEAO (Originale + une copie);</li>
                                        <li>Certificat de nationalité + copie de la carte nationale d’identité numérisée du parent pétitionnaire; </li>
                                        <li>Un justificatif de domicile (Facture EDF, quittance de loyer etc…);</li>
                                        <li>Un timbre d’une valeur de 30,50 euros (paiement sur place, <strong>en espèce ou par carte bancaire</strong>).</li>
                                    </ul>

                                    <p><strong>SÉNÉGALAIS NÉ AU SÉNÉGAL</strong></p>
                                    <p>Carte nationale d’identité biométrique CEDEAO (Originale + une copie)</p>
                                    <p>Extrait de naissance de moins de 3 mois</p>
                                    <p>Certificat de nationalité sénégalaise légalisée par Greffe du tribunal</p>
                                    <p>Copie de la carte nationale d&#8217;identité biométrique du parent pétitionnaire&nbsp;</p>
                                    <p>Un justificatif de domicile (Facture EDF, quittance de loyer etc…)</p>
                                    <p>Un timbre d’une valeur de 30,50 euros (paiement sur place,&nbsp;<strong>en espèce ou par carte bancaire</strong>)</p>

                                    <p><strong>POUR L’ENFANT ÂGÉ DE 0 À 10 ANS</strong></p>
                                    <ul>
                                        <li>La fiche d’immatriculation nationale (délivrée par le service carte nationale d’identité) pour les enfants de moins de 5 ans;</li>
                                        <li>Extrait de naissance de moins de 3 mois;</li>
                                        <li><a rel="noreferrer noopener" href=autorisation_parentale.pdf" target="_blank">Autorisation parentale</a> <strong>signée et légalisée</strong> du père (ou de la mère si celle-ci exerce l’autorité parentale suite à une décision judiciaire);</li>
                                        <li><strong>NB</strong>: la présence du signataire est obligatoire pour la légalisation de l&#8217;autorisation parentale;</li>
                                        <li>Pièce d’identité sénégalaise du parent autorisant (copie recto/verso);</li>
                                        <li>Justificatif de domicile (Facture EDF, quittance de loyer etc…);</li>
                                        <li>Un timbre d’une valeur de 30,50 euros (paiement sur place, <strong>en espèce ou par carte bancaire</strong>).</li>
                                    </ul>
                                    
                                    <p><strong>NOTE&nbsp;:</strong></p>
                                    <p>Le délai de délivrance d’un passeport biométrique ordinaire 
                                        est en moyenne de 10 jours ouvrés (les urgences peuvent être gérées au cas par
                                        cas le jour J).
                                        <br>Validité du passeport&nbsp;:<br>
                                        La validité du passeport biométrique est de 5 ans.
                                        <br><br><strong>Horaires de dépôt&nbsp;: De 9h00 à 13h00</strong>
                                    </p>
                                    <p><strong>Passeport :</strong></p>

                                    <p>A cet égard, les demandes d’établissement ou de renouvellement de 
                                        passeports CEDEAO présentant un caractère urgent seront traitées après prise 
                                        de rendez-vous sur le site du Consulat général.<br><br>Vous pouvez prendre rendez-vous 
                                        dès maintenant sur le site internet du Consulat&nbsp;:&nbsp;
                                        <a href="https://prendrerdv.espacerendezvous.com/consulsen" data-type="URL"
                                        data-id="https://prendrerdv.espacerendezvous.com/consulsen" target="_blank" 
                                        rel="noreferrer noopener">Prendre rendez-vous</a><br></p>
                                    <nav class="pagination group"> </nav><!--/.pagination-->
                                    <div class="clear"> </div>
                                </div><!--/.entry-->
                            </article>
                        </div><!--/.hu-pad-->
                    </main><!--/.content-->
                </div><!--/.main-inner-->
            </div><!--/.main-->
        </div><!--/.container-inner-->
    </div><!--/.container-->

    <footer id="footer"> </footer><!--/#footer-->

{%block scripts%}{%endblock%}

</body>
</html>