{% extends './home/base.html.twig' %}
 {% block titre %}Carte Consulaire {% endblock %}
  {% block css %}{% endblock %}
      {% block body %}

<body class="path-frontpage page-node-type-homepage">
    <div class="container" data-aos="fade-up">

    <div id="attachements1" class="py-2 maeci__attachements">
                <div class="container p-0 maeci-detailPAttachement">
            <!-- Section -->
            <div class="section-header">
          <h2>Mot du Consul Général A Marseille</h2>
        </div>
        <div class="container p-0 maeci-detailPAttachement">
            chers compatriotes, <br>
            Les sénégalais de l'extérieur constituent une frange importante de la population de notre pays et contribuent
            activement à l'effort de développement économique et social ainsi qu'à l'émancipation nationale.<br>
            Dans ce sens, j'ai l'immense plaisir de vous présenter cet outil précieux qui a pour objectif de vous faciliter les démarches administratives
            auprès de votre Consulat Général en vue de l'obtention de tous les documents dont vous aurez besoin, tout en vous faisant gagner du temps.<br>
            Toutes les procédures relatives à l'établissement de vos actes consulaires y sont décrites de manière précise.<br>
            Ce travail émane de l'initiave généreuse de votre administration.<br><br><br></div>


                                                                  <div style="text-align:right"> Abdourahmane KOITA <br>
                                                                   Consul Général du Sénégal à Marseille</div>

                
                 
    </div>
    <hr width="40%" style="display:block;border-bottom:2px solid grey !important;border-top:none !important">

    </div>
    <footer id="footer"> </footer><!--/#footer-->

{%block scripts%}{%endblock%}
{%endblock%}
