<!DOCTYPE html>

<title>New Addresse</title>

{% block body %}
    <h1>Ajouter votre adresse</h1>

    {{ include('addresse/_form.html.twig') }}

    <a href="{{ path('app_addresse_index') }}">back to list</a>
{% endblock %}
