{% extends './home/base.html.twig' %}

 {% block titre %} Inscription {% endblock %}

{% block body %} <br><br>
    <h3>Inscription</h3><br><br>

    {{ include('user/_form.html.twig') }}


    <a href="{{ path('app_user_index') }}">retourner</a>
{% endblock %}
