{% extends './home/base.html.twig' %}

 {% block titre %} Inscription {% endblock %}

{% block body %} <br><br>
    <div class="section-header"><h2>Inscription</h2></div>

    {{ include('user/_form.html.twig') }}
{% endblock %}
