{% extends 'home/base.html.twig' %}

 {% block titre %} Inscription {% endblock %}


{% block body %}
    <h1>Créer un compte</h1>

    {{ include('user/_form.html.twig') }}


    <a href="{{ path('app_user_index') }}">retourner</a>
{% endblock %}
