{% extends 'base.html.twig' %}

{%block titre%} Certificat de déménagement {%endblock%}
{%block css%}{%endblock%}

{%block body%}
    <div class="container" id="page">
        <div class="container-inner">
            <div class="main">
                <div class="main-inner group">
                    <main class="content" id="content">
                        <div class="page-title hu-pad group">
                            <br><br><h1>Certificat de déménagement</h1>
                        </div>
                        <div class="hu-pad group">     
                        <article class="group post-35 page type-page status-publish hentry">    
                            <div class="entry themeform">                           
                                <p><strong>DOCUMENTS À FOURNIR</strong></p>
                                <ul>
                                    <li>Demande manuscrite adressée à Monsieur le Consul général;</li>
                                    <li>Carte Consulaire datant de plus de 6 mois;</li>
                                    <li> Passeport sénégalais + titre de transport en aller simple ;
                                    <li>La liste du matériel devant être transporté; 
                                    <br><strong> (Les véhicules ne sont pas concernés). </strong></li>                                                                 
                                </ul>
                            <nav class="pagination group">
                                    </nav><!--/.pagination-->
                            <div class="clear"></div>
                            </div><!--/.entry-->
                            </article>
                      </div><!--/.hu-pad-->
                    </main><!--/.content-->
                </div><!--/.main-inner-->
            </div><!--/.main-->
        </div><!--/.container-inner-->
    </div><!--/.container-->

    <footer id="footer"> </footer><!--/#footer-->

{%block scripts%}{%endblock%}
{%endblock%}
